@charset "UTF-8";

.product-container{
	padding: 0 10%;
	flex-flow: wrap;
	display: flex;
}
.product-container product{
  	margin: 0;
	width: 33.33333%;
	height: 250px;
}
product div{
	width: 100pt;
	display: inline-table;
	position: relative;
	color: var(--grey);
}
product a{
	color: var(--brown);
	text-decoration: none;
	font-weight: bold;
	font-style: italic;
	cursor: pointer;
}
product input[type="number"]{
	width: 60px;
}
product .smlxl span{
	width: 48pt;
	display: inline-table;
	position: relative;
}
product .smlxl input{
	width: 30px;
	display: inline-table;
	position: relative;
}
product .firstline span{
	display: inline-block;
	font-weight: bold;
	width: 50%;
}
product .firstline span:last-of-type{
	color: var(--green);
	text-align: right;
}
product table, product select{
	width: 100%;
}
product table td:last-of-type{
	text-align: right;
}
.addproduct{
	cursor: pointer;
	filter: invert(85%) sepia(3%) saturate(5021%) hue-rotate(342deg) brightness(89%) contrast(78%);
}
.removeproduct{
	position: absolute;
	top: 2%;
	right: 2%;
	filter: invert(18%) sepia(92%) saturate(7486%) hue-rotate(359deg) brightness(106%) contrast(109%);
}
.addcart{
	font-size: 12px;
	height: 20px;
	padding: 5px;
	float: right;
}
.addcart img{
	width: 15px;
	height: 15px;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
/* The actual pop-up (appears on top) */
.popup .popuptext {
  width: 100px;
  background-color: #555;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  margin-left: -80px;
}
/* Pop-up arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.popup-cart-position{
	position: fixed;
	bottom: 140px;
	right: 2%;
}

/*cart icon*/
.carticon-container{
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 80px;
	height: 80px;
	border-radius: 80px;
	background-color: var(--grey);
	box-shadow: 2px 2px 5px var(--grey);
	text-decoration: none;
	cursor: pointer;
}
.carticon-container span{
	position: fixed;
	bottom: 70px;
	right: 70px;
	height: 20px;
	padding: 0 8px;
	text-align: center;
	line-height: 20px;
	border-radius: 5px;
	background-color: red;
	color: white;
}
.carticon{
	width: 50px;
	height: 50px;
	filter: invert(98%) sepia(0%) saturate(7500%) hue-rotate(320deg) brightness(110%) contrast(97%);
}

/* cart page */
.cartlist-container .editnum a{
	color: var(--brown);
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
}

.tablecat-whitebg{
	padding: 0;
	width: 84.8%;
	float: right;
	border: 0;
	background-color: rgba(255,255,255,60%);
}
.edge{
	padding: 5% 0;
}
.imgproduct{
	width: 100pt;
	height: 100pt;
	border-radius: 100pt;
}

.addtocart{
	color: var(--blue);
	font-family: 'Bai Jamjuree', sans-serif;
	font-weight: bold;
	font-style: italic;
	cursor: pointer;
	float: right;
	border: none;
	background-color: transparent;
}

.usercartchoose div a{
	color: blue;
	font-style: italic;
	cursor: pointer;
}

.usercartchoose div div{
	margin: 20px 0;
}

.cartconfirmtable{
	border: 1px black solid;
	width: 50%;
	margin: 0 25%;
	padding: 20px;
	background-color: white;
}
.cartconfirmtable hr{
	margin: 20px 5%;
	width: 90%;
}