@charset "UTF-8";
/* My Information */
.back{
	position: absolute;
	top: 0;
	left: 10pt;
	text-decoration: none;
	font-size: 30pt;
	color: var(--brown);
}
.myinfo-table{
	width: 80%;
	padding-left: 20%;
	cursor: default;
	margin-top: 2%;
}
.outputinfo{
	width: 200pt;
	height: 20pt;
	cursor: text;
	word-wrap: break-word;
}
.outputaddress{
	width: 200pt;
	cursor: text;
	resize: none;
	word-wrap: break-word;
}
.myinfo-table td p{
	margin: 2pt;
}

.btneditinfo{
	color: #1592E6;
	height: 22pt;
	border: none;
	cursor: pointer;
}

.editaccount, .editdelivery{
	position: fixed;
	right: 20px;
	color: red;
	font-size: 18px;
	cursor: pointer;
	text-decoration: underline;
}
.editaccount{
	top: 80px;
}
.editdelivery{
	top: 120px;
}
.smtptutorial{
	position: fixed;
	top: 160px;
	right: 20px;
	padding: 5px;
	border-radius: 4px;
	background-color: var(--blue);
	box-shadow: 2px 2px 6px gray;
	color: white;
	font-size: 16px;
	cursor: pointer;
}
.smtptutorial:hover{
	background-color: blue;
}
.editaddress{
	color: blue;
	cursor: pointer;
	text-decoration: underline;
}


/* Change Information */
.brownbg{
	position: relative;
	background: rgba(255,255,255,0.4);
	height: 70%;
	width: 70%;
	box-shadow: 5px 5px 5px gray;
	padding: 2%;
	flex-flow: column;
}
.brownbg form{
	padding: 5% 0;
}
h3{
	margin: 4% 0 0 0;
	text-align: center;
	font-size: 18pt;
}
.editprofilepicture{
	border-radius: 100px;
	width: 100px;
	height: 100px;
	left: 0;
	box-shadow: 2px 2px 5px gray;
}
.editprofilepicturebtn, label{
	position: absolute;
	cursor: pointer;
	bottom: 0; 
	font-style: italic;
	font-weight: bold;
	text-align:center; 
	width: 100%;
	margin: 8px;
	color: var(--blue);
}
.changeinfo-table{
	width: 90%;
	margin: 4%;
	cursor: default;
}
.inputinfo{
	width: 90%;
	height: 20pt;
	cursor: text;
}
.inputaddress{
	width: 90%;
	height: 80pt;
	cursor: text;
	resize: none;
}
.left{
	position: relative;
	width: 20%;
	top: 0;
	margin: 0;
	float: left;
	/*position: absolute;
	left: 5%;
	top: 20%;*/
}
.right{
	position: relative;
	width: 80%;
	margin: 0;
	float: right;
}
.btnconfirm{
	background-color: #79d70f;
	color: white;
	width: 60pt;
	height: 22pt;
	right: 14%;
	bottom: 8%;
	border: none;
	box-shadow: 2px 2px 5px gray;
	cursor: pointer;
}
#hidepsw{
	cursor: pointer;
	width: 20px;
	height: 20px;
}

input[type=file]::-webkit-file-upload-button { /* chromes and blink button */
    cursor: pointer; 
}