@charset "UTF-8";
/* My Information */
.back{
	position: absolute;
	top: 0;
	left: 10pt;
	text-decoration: none;
	font-size: 30pt;
	color: var(--brown);
}
.myinfo-table{
	width: 80%;
	padding-left: 20%;
	cursor: default;
	margin-top: 2%;
}
.outputinfo{
	width: 200pt;
	height: 20pt;
	cursor: text;
	word-wrap: break-word;
}
.outputaddress{
	width: 200pt;
	cursor: text;
	resize: none;
	word-wrap: break-word;
}
.myinfo-table td p{
	margin: 2pt;
}
.left{
	position: absolute;
	left: 10%;
	top: 20%;
}
.btneditinfo{
	position: absolute;
	color: #1592E6;
	height: 22pt;
	right: 14%;
	bottom: 8%;
	border: none;
	cursor: pointer;
}

.editaccount{
	position: fixed;
	top: 80px;
	right: 20px;
	color: red;
	font-size: 18px;
	cursor: pointer;
	text-decoration: underline;
}
.editdelivery{
	position: fixed;
	top: 120px;
	right: 20px;
	color: red;
	font-size: 18px;
	cursor: pointer;
	text-decoration: underline;
}


/* Change Information */
.brownbg{
	position: relative;
	background: rgba(255,255,255,0.4);
	height: 70%;
	width: 70%;
	box-shadow: 5px 5px 5px gray;
	padding: 2%;
	flex-flow: column;
}
h3{
	margin: 4% 0 0 0;
	font-size: 18pt;
}
.editprofilepicture{
	border-radius: 100px;
	width: 100px;
	height: 100px;
	left: 0;
	box-shadow: 2px 2px 5px gray;
}
.changeinfo-table{
	width: 90%;
	padding-left: 15%;
	margin: 4% 10%;
	cursor: default;
}
.inputinfo{
	width: 90%;
	height: 20pt;
	cursor: text;
}
.inputaddress{
	width: 90%;
	height: 80pt;
	cursor: text;
	resize: none;
}
.left{
	width: 100px;
	height: 100%;
	/*position: absolute;
	left: 5%;
	top: 20%;*/
}
.right{
	width: 80%;
}
.btnconfirm{
	background-color: #79d70f;
	color: white;
	width: 60pt;
	height: 22pt;
	right: 14%;
	bottom: 8%;
	border: none;
	box-shadow: 2px 2px 5px gray;
	cursor: pointer;
}
#hidepsw{
	cursor: pointer;
	width: 20px;
	height: 20px;
}