@charset "UTF-8";

body{
	height: 100vh;
	margin: 0;
}

/* Login */
.loginwhitebg h1 {
	margin: -10% 0% 6% 0%;
}

.incorrect {
	color: red;
}

.logintable {
	border: none;
	border-radius: 6px;
}
.logintable tr {
	height: 16pt;
}

.logintable input[type="text"],
.logintable input[type="password"] {
	height: 16pt;
	border-radius: 16pt;
	border: 1px solid gray;
}

.col2 input[type="submit"],
.col input[type="submit"] {
	font-family: 'Bai Jamjuree', sans-serif;
	background-color: #1592E6;
	border: none;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12pt;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 10px;
	width: 100%;
	color: white;
}

.loginwhitebg {
	flex-direction: column;
	background-color: rgba(255, 255, 255, 0.75);
	border-radius: 0 100px;
	width: 60%;
	height: 80%;
	box-shadow: 5px 5px 5px gray;
	margin-top: 60px;
}

.col{
	width: 100%;
	height: 100%;
	margin: 4% 0;
	flex-direction: column;
}


.col1 {
	width: 49%;
	height: 92%;
	margin: 4% 0 4% 0;
	float: left;
	border-right: 1px gray solid;
}

.col2 {
	width: 50%;
	height: 100%;
	float: right;
	flex-direction: column;
}
.col2 form, .col2 table{
	height: 50%;
}

.forgotpw {
	font-size: 10pt;
	float: right;
}

.newuser-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 50%;
	font-size: 10pt;
}
.newuser-container p{
	align-items: flex-end;
	margin: 0;
}

.signup {
	color: #1592E6;
	text-decoration: none;
	font-size: 14pt;
}


/* Sign up */	
.signupwhitebg{
	position: relative;
	flex-direction: column;
	background-color: rgba(255,255,255,0.75);
	border-radius: 0 100px;
	width: 60%;
	height: 500px;
	box-shadow: 5px 5px 5px gray;
	margin-top: 6%; 
}
.signupwhitebg h1{
	position: absolute;
	top: 8px;
}

.signuptable {
	margin: 5px;
	border: none;
	padding: 10px 20px;
	border-radius: 6px;
	margin-top: 80px;
}
.inputinfo{
	width: 90%;
	height: 16pt;
	cursor: text;
	margin-top: 2%;
}
.inputaddress{
	width: 90%;
	height: 60pt;
	cursor: text;
	resize: none;
}
.signuptable input[type="submit"]{
	background-color: #1592E6;
	color: white;
	border: none;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 5px;
}
.back{
	position: absolute;
	top: 0;
	left: 10pt;
	text-decoration: none;
	font-size: 30pt;
	color: var(--brown);
}