@charset "UTF-8";

.tabledetail:first-child{
	width: 20px;
}
.tabledetail tbody:first-child{
	font-size: 18px;
	text-align: center;
}
#overlaydetail .checked{
	font-size: 14px;
}
#overlaydetail .checked hr{
	margin: 5%;
}
#overlaydetail .checked num{
	font-size: 20px;
	font-weight: bold;
	font-style: italic;
}
#overlaydetail .checked total{
	font-size: 18px;
}
#overlaydetail .buyerdetail{
	margin: 4% 8%;
	padding: 2%;
	background-color: var(--brownbg);
	border-radius: 10px;
}
.buyerdetail address { padding-left: 10px; }
#overlaydetail .track {
	margin: 2% 10%;
	text-align: right;
}
track{
	font-style: italic;
	font-weight: bold;	
}
