@charset "UTF-8";

/* overlay */
#overlay, #overlayprint,
#overlaydetail,
#overlayaccount,
#overlayaddress,
#overlaycartconfirm,
#overlaydelivery,
#overlayaddproduct,
#overlayeditproduct,
#overlayaddcat,
#overlayeditcat,
#overlayaddslip,
#overlaysellaccount{
  position: fixed;
  visibility: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
}
.overlaybg{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  cursor: pointer;
  z-index: 9997;
}
.overlaypage input[type=text],
.overlaypage input[type=number],
.overlaypage select,
.overlaypage textarea{
 	border: 1px solid var(--grey);
	background-color: var(--lightgrey);
}
#editproductpage,
#addproductpage,
#addcatpage
{
	height: 80%;
}
.checked{
	position: relative;
	background-color: white;
	width: 50%;
	height: 80%;
	cursor: default;
	padding-top: 50px;
	flex-flow: column;
	z-index: 9999;
}
.checked iframe{
	width: 100%;
	height: 100%;
	border: none;
}
.overlayheader{
	position: absolute;
	display: flex;
	flex-flow: row;
	top: 0;
	left: 0;
	font-size: 16pt;
	text-align: center;
	height: 50px;
	width: 100%;
	background-color: var(--brown);
	color: white;
	box-shadow: 2px 2px 2px gray;
}
.overlayconfirm{
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 16pt;
	text-align: center;
	padding: 2% 0 2% 0;
	width: 100%;
	background-color:  var(--green);
	border: none;
	color: white;
	box-shadow: 2px -2px 2px gray;
	cursor: pointer;
}

/* more detail overlay */
.tabledetail:first-child{
	width: 20px;
}
.tabledetail tbody:first-child{
	font-size: 16px;
	text-align: center;
}
#overlaydetail .checked{
	font-size: 14px;
}
#overlaydetail .checked hr{
	margin: 12px 5%;
	border: 0;
  	display: block;
  	background-color: gray;
  	height: 2px;
}
#overlaydetail .checked num{
	font-size: 16px;
	font-weight: bold;
	font-style: italic;
}
#overlaydetail .checked total{
	font-size: 16px;
}
#overlaydetail .buyerdetail{
	margin: 4% 8%;
	padding: 2%;
	background-color: var(--brownbg);
	border-radius: 10px;
}
.buyerdetail address { padding-left: 10px; }
#overlaydetail .track {
	margin: 2% 10%;
	text-align: right;
}
track{
	font-style: italic;
	font-weight: bold;	
}
