@charset "UTF-8";

/* overlay */
#overlay, #overlayprint,
#overlaydetail,
#overlayaccount,
#overlayaddress,
#overlaycartconfirm,
#overlaydelivery,
#overlayaddproduct,
#overlayeditproduct,
#overlayaddcat,
#overlayeditcat,
#overlayaddslip,
#overlaysellaccount,
#overlaysmtptutorial{
  position: fixed;
  visibility: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
}
.overlaybg{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  cursor: pointer;
  z-index: 9997;
}
.overlaypage input[type=text],
.overlaypage input[type=number],
.overlaypage select,
.overlaypage textarea{
 	border: 1px solid var(--grey);
	background-color: var(--lightgrey);
}
#editproductpage,
#addproductpage,
#addcatpage
{
	height: 80%;
}
.checked{
	position: relative;
	background-color: white;
	width: 50%;
	height: 80%;
	cursor: default;
	padding-top: 50px;
	flex-flow: column;
	z-index: 9999;
}
.checked iframe{
	width: 100%;
	height: 100%;
	border: none;
}
.overlayheader{
	position: absolute;
	display: flex;
	flex-flow: row;
	top: 0;
	left: 0;
	font-size: 16pt;
	text-align: center;
	height: 50px;
	width: 100%;
	background-color: var(--brown);
	color: white;
	box-shadow: 2px 2px 2px gray;
}
.overlayconfirm, .overlayconfirm-half, .overlaydelete-half{
	position: absolute;
	bottom: 0;
	font-size: 16pt;
	text-align: center;
	text-decoration: none;
	padding: 2% 0 2% 0;
	border: none;
	color: white;
	box-shadow: 2px -2px 2px gray;
	cursor: pointer;
}
.overlayconfirm{
	width: 100%;
	left: 0;
	background-color:  var(--green);
}
.overlayconfirm-half{
	width: 50%;
	left: 0;
	background-color:  var(--green);
}
.overlaydelete-half{
	width: 50%;
	left: 50%;
	background-color:  red;
}

/* more detail overlay */
.tabledetail:first-child{
	width: 20px;
}
.tabledetail tbody:first-child{
	font-size: 16px;
	text-align: center;
}
#overlaydetail .checked{
	font-size: 14px;
	display: block;
}
#overlaydetail .checked hr{
	margin: 12px 5%;
	border: 0;
  	display: block;
  	background-color: gray;
  	height: 2px;
}
#overlaydetail .checked num{
	font-size: 16px;
	font-weight: bold;
	font-style: italic;
}
#overlaydetail .checked total{
	font-size: 16px;
}
#overlaydetail .buyerdetail{
	margin: 4% 8%;
	padding: 2%;
	background-color: var(--brownbg);
	border-radius: 10px;
}
.buyerdetail address { padding-left: 10px; }
#overlaydetail .track {
	margin: 2% 10%;
	text-align: right;
}
track{
	font-style: italic;
	font-weight: bold;	
}


/* smtp */
dot {
	display: block;
	height: 10px;
	width: 10px;
	border: 2px solid gray;
	border-radius: 10px;
	margin: 5px;
}

dot.active {
	background-color: gray;
}

before, after {
	position: absolute;
	top: 50%;
	cursor: pointer;
	font-size: 60px;
	width: 80px;
	height: 80px;
	border-radius: 80px;
	background-color: rgba(0, 0, 0, 0.2);
	color: white;
	text-align: center;
	line-height: 80px;
}

before:hover, after:hover, dot:hover {
	background-color: rgba(0, 0, 0, 0.4);
}

before {
	left: -40px;
}

after {
	right: -40px;
}
.smtp-overlay-container{
	position: relative;
	background-color: white;
	width: 700px;
	height: 500px;
	cursor: default;
	flex-flow: column;
	z-index: 9999;
}
.smtp-overlay-container close{ color: red;}
.smtp-tutorial-container{
	padding: 10px 50px;
	position: relative;
}
.smtp-tutorial-container div, .smtpform{
	height: 450px;
}
.smtpform table tr:nth-child(2) td{
	padding-bottom: 10%;
}
.smtpform input[type="email"],
.smtpform input[type="text"]{
	height: 30px;
	width: 250px;
	padding: 0 10px;
	border-radius: 30px;
	border: 1px solid gray;
}

skip, looktutorial {
	position: absolute;
	font-size: 20px;
	color: blue;
	text-decoration: underline;
	font-style: italic;
	cursor: pointer;
}
skip{
	bottom: -20px;
	right: 20px;
}
looktutorial{
	top: 20px;
	left: 20px;
}
