@charset "UTF-8";

/* Color Variables */
:root {
  --brown: #cbaf87;
  --x: #c7b198;
  --brownbg: #f4ebc1;
  --browntab: #e8cca3;
  --green: #79d70f;
  --blue: #1592E6;
  --grey: #707070;
  --lightgrey: #eee;
}

body{
	font-family: 'Bai Jamjuree', sans-serif;
	margin: 130px 4% 40px 4%;
	background-color: var(--brownbg);
}

.center{
  	display: flex;
	align-items: center;
	justify-content: center;
}
.flow-column{
	flex-flow: column;
}
.white{
	background-color: white;
}

red{
	color: red;
}

close{
	position: absolute;
	right: 10px;
	top: 10px;
	color: white;
	font-size: 20px;
	font-weight: bolder;
	cursor: pointer;
	z-index: 99999;
}
.whitebg{
	/* margin: 80pt 10% 0 10%; */
	width: 80%;
	padding: 5%;
	box-shadow: 5px 5px 5px gray;
	background: rgba(255,255,255,0.8);
	position: relative;
}
.overlaypage{
	background-color: white;
	height: 100%;
	margin: 2%;
}
#loading {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(192, 192, 192, 0.6);
  background-image: url("/Img/pleasewait.gif");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 99999;
}

/* search */
.search-container{
	position: fixed;
	justify-content: space-around;
	top: 0;
	left: 20px;
	z-index: 1000;
	height: 60px;
	width: 270px;
}
.search-box{
	height: 25px;
	line-height: 25px;
	width: 240px;
	border: 1px solid gray;
	border-radius: 15px;
	background-color: var(--lightgrey);
}
.search-box input, .search-box select{
 	height: 25px;
 	border: none;
	background-color: transparent;
	outline: none;
}
.search-container button{
	width: 25px;
	height: 25px;
}
.search-container img{
	width: 15px;
	height: 15px;
}

/* Navigator */
.navhead {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: var(--brown);
	box-shadow: 2px 2px 5px gray; 
	z-index: 999;
}
.navhead li {
	height: 60px;
}
.navhead li a {
	display: block;
	color: white;
	text-align: center;
	padding: 4px 16px;
	text-decoration: none;
}
.profilepicture{
	border-radius: 50px;
	width: 50px;
	height: 50px;
}
.logout{
	position: fixed;
	top: 35px;
	right: 140px;
	color: #30475e;
}


/* Style the secondary tab */
.tab {
	position: fixed;
	top: 60px;
	left: 0;
	width: 100%;
	height: 30pt;
    font-weight: bold;
  	overflow: hidden;
  	box-shadow: 2px 2px 5px gray;
	background-color: var(--browntab);
	z-index: 900;
}
/* Style the buttons inside the tab */
.tab a {
  background-color: inherit;
  float: left;
  border: 1px solid var(--grey);
  outline: none;
  cursor: pointer;
  line-height: 30pt;
  width: 100pt;
  transition: 0.3s;
  font-size: 17px;
  text-align: center;
  text-decoration: none;
  color: var(--grey);
}
/* Change background color of buttons on hover */
.tab a:hover {
	background-color: #bbb;
}
/* Create an active/current tablink class */
.tab a.active {
	background-color: var(--grey);
	color: white;
}
.tabsecond .back{
	position: fixed;
	top: 60px;
	left: 5px;
	color: white;
	text-decoration: none;
}
.tabsecond {
	position: fixed;
	top: 60px;
	left: 0;
	width: 100%;
	height: 25pt;
	line-height: 25pt;
    font-weight: bold;
    text-align: center;
  	overflow: hidden;
	color: white;
	background-color: var(--grey);
  	box-shadow: 2px 2px 5px gray;
	z-index: 900;
}

/* tab category */
.tabcat-container {
	top: 100pt;
	width: 14%;
	float: left; 
	border: 0; 
	position: fixed;
	height: 25pt;
  	overflow: hidden;
	z-index: 800;
}
.tabcat-container td{
	padding: 0;
	width: 100%;
}
.tabcat{
	background-color: inherit;
  	float: left;
  	border: none;
  	outline: none;
  	cursor: pointer;
  	line-height: 25pt;
  	width: 100%;
  	transition: 0.3s;
  	font-size: 15px;
  	text-align: center;
  	text-decoration: none;
  	font-weight: normal;
  	color: var(--grey);
}
.tabcat-container td a.active {
	background-color: rgba(255,255,255,60%);
	border-radius: 15px 0 0 15px;
	border-top: 2px solid transparent;
  	border-bottom: 2px solid transparent;
  	border-left: 4px solid var(--blue);
	font-weight: bold;
}

.cataddheader{
	color: var(--blue);
	font-style: italic;
}

/* side tab */
.sidetab-container {
	position: fixed;
	top: 100pt;
	width: 14.5%;
	float: left; 
	border: 0; 
	position: fixed;
	height: 25pt;
  	overflow: hidden;
	z-index: 800;
}
.sidetab-container td{
	position: relative;
	width: 100%;
}
.sidetab-container td a{
	padding-left: 8px;
  	font-weight: normal;
 }
 .sidetab-container td span{
	position: absolute;
	right: 5px;
	line-height: 40px;
	color: var(--blue);
 }
.sidetab{
	background-color: inherit;
  	float: left;
  	border: none;
  	outline: none;
  	cursor: pointer;
  	line-height: 25pt;
  	width: 100%;
  	transition: 0.3s;
  	font-size: 15px;
  	text-align: left;
  	text-decoration: none;
  	font-weight: normal;
  	color: var(--grey);
}
.sidetab-container td a.active {
	background-color: rgba(255,255,255,60%);
	border-radius: 15px 0 0 15px;
	border-top: 2px solid transparent;
  	border-bottom: 2px solid transparent;
  	border-left: 4px solid var(--blue);
	font-weight: bold;
}

#detaildata{
	position: absolute;
	font-size: 10pt;
	right: 2%;
	bottom: 2%;
	text-decoration: underline;
	cursor: pointer;
}
#tocancel{
	position: absolute;
	font-size: 10pt;
	right: 2%;
	top: 2%;
	text-decoration: underline;
	font-style: italic;
	color: red;
	cursor: pointer;
}

/* notification*/
.notification{
	position: fixed;
	visibility: hidden;
	overflow-y: scroll;
	overflow-x: hidden;
	right: 0;
	top: 60px;
	width: 300px;
	height: 60%;
	background-color: white;
	box-shadow: 2px 2px 6px gray;
	z-index: 998;
}
bodynotification{
	width: 100%;
	height: 100%;
}
bodynotification div{
	display: inline-block;
	margin: 5px;
}
bodynotification div a{
	color: gray;
	text-decoration: none;
}
bodynotification div div{
	width: 200px;
	overflow: hidden;
	overflow-wrap: break-word;
	height: 60px;
}
.headnotification h3{
	font-size: 24px;
	padding: 10px;
	text-align: left;
}
.notification::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

.notification::-webkit-scrollbar-thumb
{
	border-radius: 4px;
	background-color: var(--lightgrey);
}
.bellimg{
	position: fixed;
	top: 0;
	right: 0px;
	margin: 15px 10px;
	width: 30px;
	height: 30px;
	cursor: pointer;
	z-index: 1000;
}
.bellnoti span{
	position: fixed;
	top: 0;
	right: 0px;
	margin: 6px;
	padding: 2px 5px;
	font-size: 12px;
	border-radius: 5px;
	background-color: red;
	color: white;
	z-index: 1001;
}
.readallnoti{
	position: fixed;
	right: 0;
	top: 60px;
	color: blue;
	text-decoration: none;
	margin: 20px;
}
.notimsg a:first-child{
	font-size: 14px;
	font-weight: bold;
}
.notimsg a:last-child{
	font-size: 12px;
}

#resultmsg{
	color: white;
	position: fixed;
	top: 10px;
	left: 0;
	width: 40%;
	margin: 0 30%;
	padding: 20px 0;
	border-radius: 10px;
	background-color: rgba(0,0,0,0.2);
	overflow-wrap: break-word;
	text-align: center;
	z-index: 10000;
 }
 #resultmsg.red{
 	background-color: rgba(255,0,0,0.4);
 }
 #resultmsg.green{
 	background-color: rgba(0,150,0,0.4);
 }

/* details */
.overdetail{
	flex-flow: row;
	background-color: rgba(255,255,255,60%);
	width: 80.25%;
	padding: 1% 2%;
	float: right;
}
.overdetail details {
	width: 100%;
	border: 2px gray solid;
}
.overdetail summary{
	background-color: #e7d39f;
	height: 30pt;
	display: flex;
	align-items: center;
	padding-left: 2%;
}
.tableheader{
	background-color: #e4e4e4;
}
.maintable{
	background-color: gray;
	width: 100%;
}
.maintable tr, .maintable td {
	background-color: var(--brownbg);
}

.maintable ul{
	list-style-type: none;
	padding: 5%;
}


/* Button */
.btncheck{
	background-color: var(--green);
	color: white;
	border-radius: 5pt;
	text-align: center;
	color: white;
	border: none;
	padding: 10px;
	text-decoration: none;
	cursor: pointer;
}

.btnsubmit{
	font-family: 'Bai Jamjuree', sans-serif;
	background-color: var(--green);
	height: 20pt;
	line-height: 20pt;
	width: 50pt;
	border-radius: 5pt;
	text-align: center;
	color: white;
	border: none;
	margin-right: 10%;
	float: right;
	text-decoration: none;
	cursor: pointer;
}
.btnsubmit:hover, .btncheck:hover{
	background-color: darkgreen;
	font-weight: bolder;
	border: outset 1pt white;
}

/* special */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#dec, #inc{
	width: 10px;
}

