@charset "UTF-8";

/* Color Variables */
:root {
  --brown: #cbaf87;
  --x: #c7b198;
  --brownbg: #f4ebc1;
  --browntab: #e8cca3;
  --green: #79d70f;
  --blue: #1592E6;
  --grey: #707070;
}

body{
	font-family: 'Bai Jamjuree', sans-serif;
	margin: 130px 10% 40px 10%;
	display: flex;
	background-color: var(--brownbg);
}

.center{
  	display: flex;
	align-items: center;
	justify-content: center;
}

.white{
	background-color: white;
}

close{
	position: absolute;
	right: 10px;
	top: 10px;
	color: white;
	font-size: 20px;
	font-weight: bolder;
	cursor: pointer;
	z-index: 99999;
}
.whitebg{
	/* margin: 80pt 10% 0 10%; */
	width: 80%;
	padding: 5%;
	box-shadow: 5px 5px 5px gray;
	background: rgba(255,255,255,0.8);
	position: relative;
}

/* Navigator */
.navhead {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: var(--brown);
	box-shadow: 2px 2px 5px gray; 
	z-index: 999;
}
.navhead li {
	height: 60px;
}
.navhead li a {
	display: block;
	color: white;
	text-align: center;
	padding: 4px 16px;
	text-decoration: none;
}
.profilepicture{
	border-radius: 50px;
	width: 50px;
	height: 50px;
}
.logout{
	position: fixed;
	top: 35px;
	right: 100px;
	color: #30475e;
}


/* Style the secondary tab */
.tab {
	position: fixed;
	top: 60px;
	left: 0;
	width: 100%;
	height: 30pt;
    font-weight: bold;
  	overflow: hidden;
  	box-shadow: 2px 2px 5px gray;
	background-color: var(--browntab);
	z-index: 900;
}
/* Style the buttons inside the tab */
.tab a {
  background-color: inherit;
  float: left;
  border: 1px solid var(--grey);
  outline: none;
  cursor: pointer;
  line-height: 30pt;
  width: 100pt;
  transition: 0.3s;
  font-size: 17px;
  text-align: center;
  text-decoration: none;
  color: var(--grey);
}
/* Change background color of buttons on hover */
.tab a:hover {
	background-color: #bbb;
}
/* Create an active/current tablink class */
.tab a.active {
	background-color: var(--grey);
	color: white;
}
.tabsecond .back{
	position: fixed;
	top: 60px;
	left: 5px;
	color: white;
	text-decoration: none;
}
.tabsecond {
	position: fixed;
	top: 60px;
	left: 0;
	width: 100%;
	height: 25pt;
	line-height: 25pt;
    font-weight: bold;
    text-align: center;
  	overflow: hidden;
	color: white;
	background-color: var(--grey);
  	box-shadow: 2px 2px 5px gray;
	z-index: 900;
}

.tabcat-container {
	top: 100pt;
	width: 12%;
	float: left; 
	border: 0; 
	position: fixed;
	height: 25pt;
  	overflow: hidden;
	z-index: 800;
}
.tabcat-container td{
	padding: 0;
	width: 100%;
}
.tabcat{
	background-color: inherit;
  	float: left;
  	border: none;
  	outline: none;
  	cursor: pointer;
  	line-height: 25pt;
  	width: 100%;
  	transition: 0.3s;
  	font-size: 15px;
  	text-align: center;
  	text-decoration: none;
  	font-weight: normal;
  	color: var(--grey);
}
.tabcat-container td a.active {
	background-color: rgba(255,255,255,60%);
	border-radius: 15px 0 0 15px;
	border-top: 2px solid transparent;
  	border-bottom: 2px solid transparent;
  	border-left: 4px solid var(--blue);
	font-weight: bold;
}

.cataddheader{
	color: var(--blue);
	font-style: italic;
}


/* overlay */
#overlay, #overlayprint,
#overlaydetail,
#overlayaccount,
#overlaydelivery,
#overlayaddproduct,
#overlayeditproduct,
#overlayaddcat,
#overlayeditcat,
#overlayaddslip{
  position: fixed;
  visibility: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 9999;
}
.overlaypage{
	background-color: white;
	margin: 2%;
}
.overlaypage input[type=text],
 .overlaypage input[type=number],
 .overlaypage select,
 .overlaypage textarea{
 	border: 1px solid var(--grey);
	background-color: #eee;
}
.checked{
	position: relative;
	background-color: white;
	width: 50%;
	height: 80%;
	cursor: default;
	padding-top: 80px;
	flex-flow: column;
}
.checked iframe{
	width: 100%;
	height: 100%;
	border: none;
}
.overlayheader{
	position: absolute;
	display: flex;
	flex-flow: row;
	top: 0;
	left: 0;
	font-size: 16pt;
	text-align: center;
	height: 50px;
	width: 100%;
	background-color: var(--brown);
	color: white;
	box-shadow: 2px 2px 2px gray;
}
.overlayconfirm{
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 16pt;
	text-align: center;
	padding: 2% 0 2% 0;
	width: 100%;
	background-color:  var(--green);
	border: none;
	color: white;
	box-shadow: 2px -2px 2px gray;
}
#detaildata{
	position: absolute;
	font-size: 10pt;
	right: 2%;
	bottom: 2%;
	text-decoration: underline;
	cursor: pointer;
}
#tocancel{
	position: absolute;
	font-size: 10pt;
	right: 2%;
	top: 2%;
	text-decoration: underline;
	font-style: italic;
	color: red;
	cursor: pointer;
}

/* details */
.overdetail{
	flex-flow: row;
	width: 100%;
}

.overdetail details {
	width: 100%;
	border: 2px gray solid;
}
.overdetail summary{
	background-color: #e7d39f;
	height: 30pt;
	display: flex;
	align-items: center;
	padding-left: 2%;
}
.tableheader{
	background-color: #e4e4e4;
}
.maintable{
	background-color: gray;
	width: 100%;
}
.maintable tr, .maintable td {
	background-color: var(--brownbg);
}

.maintable ul{
	list-style-type: none;
	padding: 5%;
}


/* Button */
.btncheck{
	background-color: var(--green);
	color: white;
	width: 60pt;
	height: 22pt;
	border: none;
	border-radius: 22px;
	box-shadow: 2px 2px 5px gray;
	cursor: pointer;
}
.btncheck a{
	text-decoration: none;
}

.btnsubmit{
	font-family: 'Bai Jamjuree', sans-serif;
	background-color: var(--green);
	height: 20pt;
	width: 50pt;
	border-radius: 5pt;
	text-align: center;
	color: white;
	border: none;
	margin-right: 10%;
	float: right;
	cursor: pointer;
}
.btnsubmit:hover{
	background-color: darkgreen;
	width: 50pt;
	height: 20pt;
	line-height: 20pt;
	font-weight: bolder;
	border: outset 1pt white;
}

/* special */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#dec, #inc{
	width: 10px;
}
