<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ร้านขายของน้องหมา </title>
<link rel="stylesheet" th:href="@{/CSS/Sfirstpage.css}">
<link rel="stylesheet" th:href="@{/CSS/buysellproduct.css}">
<link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400&display=swap" rel="stylesheet">

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script>
$(document).ready(function(){
	var idcat = document.getElementById("idcat").innerText;
	var tabcats = document.getElementsByClassName("tabcat");
	var tablinks = document.getElementsByClassName("tablinks");
	
	$('a.tablinks:nth-child(1)').addClass("active");
	for (i = 0; i < tabcats.length; i++) {
	    if(tabcats[i].id == idcat){
	    	$('.tabcat-container tr:nth-child('+(i+1)+') a').addClass("active");
	    }
	}
	$('.cart').hover(function() {
        	$('.popup').fadeIn(200);
   		},
    	function(){
    		$('.popup').fadeOut(200);
    	}
	);
	$('.popup').hide();
})

function catSelect(evt, catselected) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tablecat");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("catheader");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(catselected).style.display = "block";
  evt.currentTarget.className += " active";
}

function on() {
	  document.getElementById("overlay").style.visibility = "visible";
}

function off() {
	  document.getElementById("overlay").style.visibility = "hidden";
}

</script>
</head>

<body style="flex-flow: column;">
<!-- overlay -->
<div class="center" id="overlay" onclick="off()">
		<div class="checked">
			<div>รหัสสั่งซื้อ </div>
			<div style="width: 80%; margin: 0 10%;">
			<table class="overlaytable">
				<tr>
					<td style="text-align: center;" colspan="3">รายการสินค้า</td>
				</tr>
				<tr><td colspan="3"><hr><td></tr>
				<tr>
					<td style="width: 20%">รูป</td>
					<td style="width: 80%">จำนวน</td>
					<td style="width: 20%">ราคา</td>
				</tr>
				<tr><td colspan="3"><hr><td></tr>
				<tr>
					<td style="text-align: right;" colspan="3">ยอดรวม</td>
				</tr>
			</table>
			<a href="" class="overlayconfirm" id="overlayconfirm">ยืนยัน </a>
			</div>
		</div>
	</div>


<!-- Main Page -->
<div th:replace="firstpage :: navhead"></div>
<div th:replace="firstpage :: tabbuyer"></div>


<div class="popup popup-cart-position">
	<span class="popuptext">ดูตะกร้า</span>
</div>
<a class="cart-container center" href="/cart">
	<img class="cart" th:src="@{/Icon/cart.png}">
</a>
<!-- Tab เลิอก Cat -->
<div style="width: 100%;">
<table class="tabcat-container">
	<tr class="center"
		th:each="cat: ${catlist}"
		th:if="${catlist != null}">
		<td>
			<a class="tabcat"
				th:href="@{'/buyproduct/' + ${cat.getIdCategory()}}"
				th:value="${cat.getNameCat()}"
				th:text="${cat.getNameCat()}"
				th:id="${cat.getIdCategory()}"
				>
			</a>
			<!-- th:attr="onclick=|openTabCat(event, '${cat.getIdCategory()}')|" -->
		</td>
	</tr>
</table>

<!-- Loop สินค้าใน Cat -->
<table class="tablecat-whitebg">
	<tr class="sep" th:if="${cat != null}">
		<td class="product-container">
			<p id="idcat" hidden="true" th:text="${cat.getIdCategory()}"></p>
			<product class="center" th:each="product: ${products}">
				<div th:if="${product.getEnable()==1}">
					<img class="imgproduct" th:if="${product.getPhotoProduct() == null}" th:src="@{'/Icon/no-image.png'}">
					<img class="imgproduct" th:if="${product.getPhotoProduct() != null}" th:src="@{'data:image/jpeg;base64,'+${product.getPhotoProduct()}}">
					<span th:text="${product.getNameProduct()}"></span>
					<div class="smlxl" th:if="${product.getNumberStock() == null}">
						S&nbsp;&nbsp;<input th:if="${product.getS() > 0}" type="number"><input th:if="${product.getS() == 0}" type="number" disabled>&nbsp;&nbsp;
						M&nbsp;&nbsp;<input th:if="${product.getM() > 0}" type="number"><input th:if="${product.getM() == 0}" type="number" disabled> <br>
						L&nbsp;&nbsp;<input th:if="${product.getL() > 0}" type="number"><input th:if="${product.getL() == 0}" type="number" disabled>&nbsp;&nbsp;
						XL&nbsp;<input th:if="${product.getXl() > 0}" type="number"><input th:if="${product.getXl() == 0}" type="number" disabled> <br>
					</div>
					<div th:if="${product.getNumberStock() != null}">
						จำนวน&nbsp;&nbsp;<input th:if="${product.getNumberStock() > 0}" type="number"><input th:if="${product.getNumberStock() == 0}" type="number" disabled> <br>
					</div>
				</div>
			</product>
		</td>
	</tr>
</table>
</div>
</body>
</html>