<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<title>ร้านขายของน้องหมา </title>
<link rel="stylesheet" th:href="@{/CSS/overlay.css}">
<link rel="stylesheet" th:href="@{/CSS/Sfirstpage.css}">
<link rel="stylesheet" th:href="@{/CSS/buyerside.css}">
<link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400&display=swap" rel="stylesheet">
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	var idcat = window.location.href.split('/').pop();
	var tablinks = document.getElementsByClassName("tablinks");
	var tabcats = document.getElementsByClassName("sidetab");
	
	$('a.tablinks:nth-child(3)').addClass("active");
	console.log(idcat);
	
	for (i = 0; i < tabcats.length; i++) {
	    if(tabcats[i].id == idcat){
	    	$('.sidetab-container tr:nth-child('+(i+1)+') a').addClass("active");
	    }
	}
})

function ondetail(orderId) {
	var origin = window.location.origin;
	var roworder = document.getElementById("roworder")
	var childrow = roworder.lastElementChild;
	document.getElementById("overlaydetail").style.visibility = "visible";
	while (childrow) { 
		roworder.removeChild(childrow); 
		childrow = roworder.lastElementChild; 
    }
	$.ajax({
	      url: origin + "/userajax?id="+orderId,
	    })
	      .done(function( data ) {
	    	  $.each( data, function(key,val) {
		    		document.getElementById("idorder").innerHTML = 'ORDER #' + val.id;
		    		document.getElementById("total").innerHTML = val.total;
		    		document.getElementById("sendcost").innerHTML = val.sendcost + " ฿";
	    		  });
	      });
  	$.ajax({
  	      url: origin + "/testajax?id="+orderId,
  	    })
  	      .done(function( data ) {
  	    	  $.each( data, function(key,val) {
	  	    		  	var row = document.createElement("TR");
	  	    		 	var rowtotal = document.getElementById("rowtotal");
		  	    		//rowtotal.parentNode.insertBefore(row, rowtotal);
		  	    		roworder.appendChild(row);
		  	    		var c1 = row.insertCell(0);
		  	    		var c2 = row.insertCell(1);
		  	    		var c3 = row.insertCell(2);
		  	    		var c4 = row.insertCell(3);
		  	    		c1.innerHTML = "<img style='width: 80px; height: 80px; border-radius: 40px;'  \
		  	    			alt='can't download' \
		  	    			src='data:image/jpeg;base64,"+ val.image +"'>";
	  	    			c2.innerHTML = val.name;
	  	    			c3.innerHTML = "x" + val.num;
	  	    			c4.innerHTML = val.cost + " ฿";
	  	    			c1.width = "20%";
	  	    			c2.width = "50%";
	  	    			c3.width = "15%";
	  	    			c4.width = "15%";
	  	    			c4.align = "right";
  	    		  });
  	      });
}

function off() {
	  document.getElementById("overlaydetail").style.visibility = "hidden";
}
</script>
</head>

<body>
<!-- overlay -->
<div class="center" id="overlaydetail">
		<div class="checked">
			<close style="color: red;" onclick="off()">X</close>
			<div style="position: absolute; left: 0; top: 0;"><p id="idorder"></p></div>
			<table class="tabledetail">
				<tr>
					<td style="text-align: center;" colspan="4">รายการคำสั่งซื้อ </td>
				</tr>
				<tr>
					<td colspan="4"><hr></td>
				</tr>
				<tbody id="roworder"></tbody>
				<tr>
					<td>&nbsp;</td>
					<td>ค่าส่ง</td>
					<td>&nbsp;</td>
					<td id="sendcost" style="text-align: right;"></td>
				</tr>
				<tr>
					<td colspan="4"><hr></td>
				</tr>
				<tr>
					<td colspan="2"><p></p></td>
					<td>ยอดรวม </td>
					<td align="right" id="total"></td>
				</tr>
			</table>
		</div>
		<div class="overlaybg" onclick="off()"></div>
	</div>

<!-- Main Page -->
<div th:replace="navtab :: navheadbuyer"></div>
<div th:replace="navtab :: tabbuyer"></div>

<div style="width: 100%;">
<table class="sidetab-container">
	<tr class="center">
		<td>
			<a class="sidetab" id="1" href="/buytrack/1">
			กำลังดำเนินการ
			<span th:if="${numorders.get(0)>0}" th:text="${numorders.get(0)}"></span>
			</a>
		</td>
	</tr>
	<tr class="center">
		<td>
			<a class="sidetab" id="2" href="/buytrack/2">
			จัดส่งแล้ว
			<span th:if="${numorders.get(1)>0}" th:text="${numorders.get(1)}"></span>
			</a>
		</td>
	</tr>
	<tr class="center">
		<td>
			<a class="sidetab" id="3" href="/buytrack/3">
			ถูกยกเลิก
			<span th:if="${numorders.get(2)>0}" th:text="${numorders.get(2)}"></span>
			</a>
		</td>
	</tr>
</table>

<div class="overdetail">
<details th:each="month : ${monthlist}">
		<summary th:text="${month.getMonthname()}" th:value="${month.getMonthname()}"></summary>
		<table class="maintable">
			<tr class="tableheader">
				<th style="height:30pt; width: 10%" > รหัสสั่งซื้อ </th>
				<th style="height:30pt; width: 60%">  รายการ </th>
				<th style="height:30pt; width: 10%">สถานะ </th>
				<th style="height:30pt; width: 10%"  
				th:if="${state==2}">เลขแทร็ก</th>
				<th style="height:30pt; width: 10%"  
				th:if="${state==2}">ยืนยันรับพัสดุ </th>
			</tr>
			<tr th:each="userorder: ${userlist}" th:if=${userorder.getPayTime().getMonthValue()==month.getMonthnum()}>
				<td th:text="${'#'+ userorder.getIdOrder()}" id="valueTD1"></td>
				<td style="position: relative;" >
					<ul>
						<li th:each="orderlist: ${orderlists}" th:if="${orderlist.getIdOrder()==userorder.getIdOrder()}"> 
							<span th:text="${orderlist.getProductdetail().getNameProduct()}"></span>
							<span th:text="${' '+orderlist.getSize().toUpperCase()}" th:if="${orderlist.getSize()!=null}"></span>
							<span th:text="${'  x'+ orderlist.getNumber()}"></span>
			  			</li>
					</ul>
					<a th:attr="onclick=|ondetail('${userorder.getIdOrder()}')|" id="detaildata">รายละเอียด </a>
				</td>
				<td th:if="${userorder.getStatus().equalsIgnoreCase('checking')}">รอตรวจสอบ</td>
				<td th:if="${userorder.getStatus().equalsIgnoreCase('tracking')}">รอจัดส่ง</td>
				<td th:if="${userorder.getStatus().equalsIgnoreCase('shipping')}">จัดส่งแล้ว</td>
				<td th:if="${userorder.getStatus().equalsIgnoreCase('complete')}">ได้รับของแล้ว</td>
				<td th:if="${userorder.getStatus().equalsIgnoreCase('cancel')}">คำสั่งซื้อถูกยกเลิก</td>
				<td th:if="${userorder.getStatus().equalsIgnoreCase('contact')}">ผู้ขายติดต่อแล้ว</td>
				<td th:if="${userorder.getStatus().equalsIgnoreCase('transferred')}">ผู้ขายโอนเงินแล้ว</td>
				
				<td th:if="${userorder.getStatus().equalsIgnoreCase('complete')||userorder.getStatus().equalsIgnoreCase('shipping')}" th:text="${userorder.getTrack()}"></td>
				
				<td style="text-align: center;" th:if="${userorder.getStatus().equalsIgnoreCase('shipping')}">
					<a th:href="@{'/trantocomplete/'+ ${userorder.getIdOrder()}}" class="btncheck" onclick="if(!confirm('ยืนยันรับพัสดุ?')) return false;">ยืนยัน </a>
				</td>
				<td style="text-align: center;" th:if="${userorder.getStatus().equalsIgnoreCase('complete')}">ได้รับของแล้ว</td>
				
			</tr>
		</table>
	</details>
</div>
</div>
</body>
</html>