<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<title>ร้านขายของน้องหมา </title>
<link rel="stylesheet" th:href="@{/CSS/overlay.css}">
<link rel="stylesheet" th:href="@{/CSS/Sfirstpage.css}">
<link rel="stylesheet" th:href="@{/CSS/buyerside.css}">
<link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400&display=swap" rel="stylesheet">
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	var tablinks = document.getElementsByClassName("tablinks");
	$('a.tablinks:nth-child(2)').addClass("active");
	$('.whitebg table:last-child hr').remove();
})

function ondetail(orderId) {
	var origin = window.location.origin;
	var roworder = document.getElementById("roworder")
	var childrow = roworder.lastElementChild;
	document.getElementById("overlaydetail").style.visibility = "visible";
	while (childrow) { 
		roworder.removeChild(childrow); 
		childrow = roworder.lastElementChild; 
    }
	$.ajax({
	      url: origin + "/userajax?id="+orderId,
	    })
	      .done(function( data ) {
	    	  $.each( data, function(key,val) {
		    		document.getElementById("idorder").innerHTML = 'ORDER #' + val.id;
		    		document.getElementById("total").innerHTML = val.total;
		    		document.getElementById("sendcost").innerHTML = val.sendcost + " ฿";
	    		  });
	      });
  	$.ajax({
  	      url: origin + "/testajax?id="+orderId,
  	    })
  	      .done(function( data ) {
  	    	  $.each( data, function(key,val) {
	  	    		  	var row = document.createElement("TR");
	  	    		 	var rowtotal = document.getElementById("rowtotal");
		  	    		//rowtotal.parentNode.insertBefore(row, rowtotal);
		  	    		roworder.appendChild(row);
		  	    		var c1 = row.insertCell(0);
		  	    		var c2 = row.insertCell(1);
		  	    		var c3 = row.insertCell(2);
		  	    		var c4 = row.insertCell(3);
		  	    		c1.innerHTML = "<img style='width: 80px; height: 80px; border-radius: 40px;'  \
		  	    			alt='can't download' \
		  	    			src='data:image/jpeg;base64,"+ val.image +"'>";
	  	    			c2.innerHTML = val.name;
	  	    			c3.innerHTML = "x" + val.num;
	  	    			c4.innerHTML = val.cost + " ฿";
	  	    			c1.width = "20%";
	  	    			c2.width = "50%";
	  	    			c3.width = "15%";
	  	    			c4.width = "15%";
	  	    			c4.align = "right";
  	    		  });
  	      });
}
function onaddslip(orderId) {
	document.getElementById("overlay").style.visibility = "visible";
	
	var tdbank = document.getElementById("selectbank")
	var sel = document.createElement("SELECT");
	var childrow = tdbank.lastElementChild;
	while (childrow) { 
		tdbank.removeChild(childrow); 
		childrow = tdbank.lastElementChild; 
    }
	tdbank.appendChild(sel); 
	sel.setAttribute("id", "MySelect");
	sel.setAttribute("name", "sellbank"); 
	$.ajax({
	      url:"http://localhost:7070/userajax?id="+orderId,
	    })
	      .done(function( data ) {
	    	  $.each( data, function(key,val) {
		    		document.getElementById("headslip").innerHTML = 'ORDER #' + val.id;
		    		document.getElementById("hiddenid").setAttribute("value", val.id);
		    		document.getElementById("paytotal").setAttribute("value", val.total);
	    		  });
	      });
	$.ajax({
	      url:"http://localhost:7070//accountajax",
	    })
	      .done(function( data ) {
	    	  $.each( data, function(key,val) {
	    		  var opt = document.createElement("OPTION"); 
	    		  opt.setAttribute("value", val); 
	    		  var nod = document.createTextNode(val); 
	    		  opt.appendChild(nod); 
	    		  document.getElementById("MySelect").appendChild(opt); 
	    		  });
	      });
}
function off() {
	document.getElementById("overlaydetail").style.visibility = "hidden";
	document.getElementById("overlay").style.visibility = "hidden";
}
</script>
</head>

<body class="center">
<!-- overlay -->
<div class="center" id="overlaydetail">
		<div class="checked">
			<close style="color: red;" onclick="off()">X</close>
			<div style="position: absolute; left: 0; top: 0;"><p id="idorder"></p></div>
			<table class="tabledetail">
				<tr>
					<td style="text-align: center;" colspan="4">รายการคำสั่งซื้อ </td>
				</tr>
				<tr>
					<td colspan="4"><hr></td>
				</tr>
				<tbody id="roworder"></tbody>
				<tr>
					<td>&nbsp;</td>
					<td>ค่าส่ง</td>
					<td>&nbsp;</td>
					<td id="sendcost" style="text-align: right;"></td>
				</tr>
				<tr>
					<td colspan="4"><hr></td>
				</tr>
				<tr>
					<td colspan="2"><p></p></td>
					<td>ยอดรวม </td>
					<td align="right" id="total"></td>
				</tr>
			</table>
		</div>
		<div class="overlaybg" onclick="off()"></div>
	</div>
	
	<div class="center" id="overlay">
		<div class="checked">
			<close onclick="off()">X</close>
			<div class="overlayheader center">ยืนยันแจ้งชำระเงิน</div>
			<form action="#" th:action="@{/savetransfer}"
				method="post" 
				enctype="multipart/form-data" 
				class="tablebuytransfer">
				<input hidden="true" type="text" id="hiddenid" name="sendid">
				<table>
					<tr>
						<td>ธนาคารผู้ซื้อ: <red>*</red></td>
					</tr>
					<tr>
						<td>
							<select name="userbank" required>
								<option value="ธนาคารกรุงศรีอยุธยา (BAY)">ธนาคารกรุงศรีอยุธยา (BAY)</option>
								<option value="ธนาคารกรุงเทพ (BBL)">ธนาคารกรุงเทพ (BBL)</option>
								<option value="ธนาคารกรุงไทย (KTB)">ธนาคารกรุงไทย (KTB)</option>
								<option value="ธนาคารกสิกร (KBANK)">ธนาคารกสิกร (KBANK)</option>
								<option value="ธนาคารซิตี้แบงค์ (CITIBANK)">ธนาคารซิตี้แบงค์ (CITIBANK)</option>
								<option value="ธนาคารซีไอเอ็มบี (CIMB)">ธนาคารซีไอเอ็มบี (CIMB)</option>
								<option value="ธนาคารทหารไทย (TMB)">ธนาคารทหารไทย (TMB)</option>
								<option value="ธนาคารทิสโก้ (TISCO)">ธนาคารทิสโก้ (TISCO)</option>
								<option value="ธนาคารธนชาต (Thanachart)">ธนาคารธนชาต (Thanachart)</option>
								<option value="ธนาคารออมสิน (GSB)">ธนาคารออมสิน (GSB)</option>
								<option value="ธนาคารยูโอบี (UOB)">ธนาคารยูโอบี (UOB)</option>
								<option value="ธนาคารเกียรตินาคินภัทร (Kiatnakin)">ธนาคารเกียรตินาคินภัทร (Kiatnakin)</option>
								<option value="ธนาคารแห่งประเทศไทย (BOT)">ธนาคารแห่งประเทศไทย (BOT)</option>
								<option value="ธนาคารสแตนดาร์ดชาร์เตอร์ด (Standard Chartered)">ธนาคารสแตนดาร์ดชาร์เตอร์ด (Standard Chartered)</option>
								<option value="ธนาคารอาคารสงเคราะห์  (GHB)">ธนาคารอาคารสงเคราะห์ (GHB)</option>
								<option value="ธนาคารอิสลามแห่งประเทศไทย (ISBT)">ธนาคารอิสลามแห่งประเทศไทย (ISBT)</option>
								<option value="ธนาคารเพื่อการเกษตร (BAAC)">ธนาคารเพื่อการเกษตร (BAAC)</option>
								<option value="ธนาคารไทยพาณิชย์ (SCB)">ธนาคารไทยพาณิชย์ (SCB)</option>
								<option value="ธนาคารไทยเครดิตเพื่อรายย่อย (TCD)">ธนาคารไทยเครดิตเพื่อรายย่อย (TCD)</option>
								<option value="ธนาคารไอซีบีซี (ICBC)">ธนาคารไอซีบีซี (ICBC)</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>ธนาคารผู้ขาย: <red>*</red></td>
					</tr>
					<tr>
						<td id="selectbank"></td>				<!-- <select name=""><option> -->
					</tr>
					<tr>
						<td>จำนวนเงินที่โอน: <red>*</red></td>
					</tr>
					<tr>
						<td><input name="pay" type="number" id="paytotal"></td>
					</tr>
					<tr>
						<td>วัน-เวลาที่โอน: <red>*</red></td>
					</tr>
					<tr>
						<td><input name="paydatetime" type="datetime-local"></td>
					</tr>
					<tr>
						<td>รูปสลิป: <red>*</red></td>
					</tr>
					<tr>
						<td><input type="file" name="imageFile"></td>
					</tr>
					<tr>
						<td><input class="overlayconfirm" style="float: right;" type="submit" value="Submit" name="button"></td>
					</tr>
				</table>
			</form>
			<!-- <iframe src="addslip.html"></iframe> -->
		</div>
		<div class="overlaybg" onclick="off()"></div>
	</div>
	
	
<!-- Main Page -->
<div class="tabheadersecond">
	<a href="/sellaccount">บัญชีธนาคารร้านค้า</a>
</div>
<div th:replace="navtab :: navheadbuyer"></div>
<div th:replace="navtab :: tabbuyer"></div>

<!-- Loop order -->
	<div class="whitebg">
		<table style="width: 100%;" th:each="tran: ${transgroup}">
			<tr>
				<td style="width: 20%;">
					<div class="imgproduct">
						<img class="imgproduct" th:if="${tran.getImage() == null}" alt="can't download" th:src="@{'/Icon/no-image.png'}">
						<img class="imgproduct" th:if="${tran.getImage() != null}" alt="can't download" th:src="@{'data:image/jpeg;base64,'+${tran.getImage()}}">
					</div>
				</td>
				<td style="width: 60%;">
					<div><p th:text="${'order #'+ tran.getUserorder().getIdOrder()}"></p></div>
					<a th:attr="onclick=|ondetail('${tran.getUserorder().getIdOrder()}')|" id="slip">รายละเอียด</a><br><br>
					<div><p th:text="${'สั่งเมื่อ  '+ tran.getUserorder().getCratedOrder()}"></p></div>
				</td>
				<td style="width: 20%;">
					<a th:attr="onclick=|onaddslip('${tran.getUserorder().getIdOrder()}')|" id="slip">เพิ่มรูปสลิป</a>
				</td>
			</tr>
			<tr><td colspan="3"><hr style="margin: 2% 10%;"/></td></tr>
		</table>
	</div>
</body>
</html>