<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ร้านขายของน้องหมา </title>
<link rel="stylesheet" th:href="@{/CSS/Sfirstpage.css}">
<link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400&display=swap" rel="stylesheet">
</head>
<body>
<a  th:href="@{'/cartconfirm/' + ${id}}">back</a>
	<h3>เลือกขนส่ง</h3>
	<form action="#" th:action="@{'/savecartdelivery/' + ${id}}" method="post">
		<table style="width: 50%;">
	  		<tr th:each="deli : ${delilist}">
	    		<td style="width: 13px;"><input type="radio" th:id="${deli.getIdDelivery()}" name="delivery" th:value="${deli.getIdDelivery()}"></td>
	    		<td align="left"><label th:for="${deli.getIdDelivery()}" th:text="${deli.getNameDelivery()}"></label></td>
	    		<td align="right"><label th:for="${deli.getIdDelivery()}" th:text="${deli.getPriceDelivery()}"></label></td>
		    </tr>
		    <tr>
	    		<td colspan="3" align="right"><input type="submit" value="Submit" name="button"></td>
		    </tr>
		</table>
	</form>
	
</body>
</html>