<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ร้านขายของน้องหมา </title>
<link rel="stylesheet" th:href="@{/CSS/overlay.css}">
<link rel="stylesheet" th:href="@{/CSS/Sfirstpage.css}">
<link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400&display=swap" rel="stylesheet">
<style type="text/css">
	h3, table ,.addaddress{
		width: 80%;
		margin: 10px 10%;
	}
	.addaddress textarea{
		resize: none;
		width: 100%;
		background-color: var(--lightgrey);
	}
	td{
		padding: 10px 0;
	}
</style>
</head>
<body class="overlaypage">
	<h3>เลือกที่อยู่</h3>
	<div class="setprofile" th:if="${count==0}">
		<span style="color:red">ไม่มีที่อยู่ของผู้ขาย กรุณาเพิ่มที่อยู่</span>
	</div>
	<form action="#" th:action="@{'/savecartaddress/' + ${id}}" method="post" th:if="${count>0}">
		<table>
	  		<tr th:each="address : ${addresses}">
	    		<td style="width: 13px;"><input type="radio" th:id="${address.getIdAddress()}" name="address" th:value="${address.getAddress()}" required></td>
	    		<td align="left"><label th:for="${address.getIdAddress()}" th:text="${address.getAddress()}"></label></td>
		    	<td><a th:href="@{'/deleteaddress/'+ ${id} + '/' +${address.getIdAddress()}}">ลบ</a></td>
		    </tr>
		    <tr>
	    		<td colspan="3" align="right"><input class="overlayconfirm" type="submit" value="Submit" name="button"></td>
		    </tr>
		</table>
	</form>
	<div class="addaddress" th:if="${count<3}">
		<p>เพิ่มที่อยู่ใหม่</p>
		<form action="#" th:action="@{'/saveaddress2/' + ${id}}" method="post">
			<textarea  rows="3" cols="50" name="newaddress" placeholder="ที่อยู่" required></textarea>
			<input class="btnsubmit"
				type="submit"
				value="เพิ่มที่อยู่"
				name="button"
				style="margin-right: 0;">
		</form>
		<red style="font-size: 12px; font-style: italic;">หมายเหตุ : สามารถเพิ่มได้มากที่สุด 3 ที่อยู่</red>
		</div>
	
</body>
</html>