<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ร้านขายของน้องหมา </title>
<link rel="stylesheet" th:href="@{/CSS/overlay.css}">
<link rel="stylesheet" th:href="@{/CSS/Sfirstpage.css}">
<link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400&display=swap" rel="stylesheet">
<style type="text/css">
	h3, table {
		width: 80%;
		margin: 10px 10%;
	}
	td{
		line-height: 50px;
	}
</style>
</head>
<body class="overlaypage">
	<h3>เลือกขนส่ง</h3>
	<form action="#" th:action="@{'/savecartdelivery/' + ${id}}" method="post">
		<table>
	  		<tr th:each="deli : ${delilist}">
	    		<td style="width: 13px;"><input type="radio" th:id="${deli.getIdDelivery()}" name="delivery" th:value="${deli.getIdDelivery()}"></td>
	    		<td align="left"><label th:for="${deli.getIdDelivery()}" th:text="${deli.getNameDelivery()}"></label></td>
	    		<td align="right"><label th:for="${deli.getIdDelivery()}" th:text="${deli.getPriceDelivery()}"></label></td>
		    </tr>
		    <tr>
	    		<td colspan="3" align="right"><input type="submit" value="ยืนยัน" name="button" class="overlayconfirm"></td>
		    </tr>
		</table>
	</form>
	
</body>
</html>