<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ร้านขายของน้องหมา </title>
<link rel="stylesheet" th:href="@{/CSS/Sfirstpage.css}">
<link rel="stylesheet" th:href="@{/CSS/buysellproduct.css}">
<link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400&display=swap" rel="stylesheet">

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
</head>
<body>
	<table class="cart-container">
		<tr>
			<td style="width: 20%;"><img th:src=""></td>
			<td style="width: 60%;">ชื่อสินค้า+size</td>
			<td style="width: 10%;">จำนวน</td>
			<td style="width: 10%;">ราคา</td>
		</tr>
		<tr>
			<td colspan="3"></td>
			<td><a class="btnsubmit">ซื้อสินค้า</a></td>
		</tr>
	</table>
</body>
</html>