<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ร้านขายของน้องหมา </title>
<link rel="stylesheet" th:href="@{/CSS/Sfirstpage.css}">
<link rel="stylesheet" th:href="@{/CSS/buysellproduct.css}">
<link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400&display=swap" rel="stylesheet">
<style type="text/css">
.button{
	width: 20px;
	height: 20px;
	line-height: 20px;
	border-radius: 10px;
	text-align: center;
	color: white;
	background-color: var(--grey);
	cursor: pointer;
}
.outoforder{
	text-align: center;
	font-size: 35px;
	font-weight: bold;
	font-style: italic;
	line-height: 80vh;
	text-shadow: 2px 2px 2px gray;
	color: var(--grey);
}
</style>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$('#tst').text($('#num').text());
	})
</script>
</head>
<body>
<!-- Main Page -->
<div th:replace="navtab :: navheadbuyer"></div>

<div class="tabsecond">
	<a th:href="@{'/buyproduct/' + ${id}}" class="back"><</a>
	ตะกร้า
</div>

<div id="tst" style="position: fixed; top: 200px; right: 0;"></div>
	<p class="outoforder" th:text="${textno}" th:if="${id.equalsIgnoreCase('noid')||orders.isEmpty()}"></p>
	<table class="cartlist-container whitebg" style="width: 80%; margin: 0 10%;" th:if="${!(id.equalsIgnoreCase('noid'))&&!(orders.isEmpty())}">
		<tr style="height: 100px;" th:each="order: ${orders}">
			<td style="width: 20%; padding: 0;">
				<img style="width: 80px; height: 80px; border-radius: 50px;"
				th:if="${order.getProductdetail().getPhotoProduct() != null}"
				th:src="@{'data:image/jpeg;base64,'+${order.getProductdetail().getPhotoProduct()}}">
				<img style="width: 80px; height: 80px; border-radius: 50px;"
				th:if="${order.getProductdetail().getPhotoProduct() == null}"
				th:src="@{'/Icon/no-image.png'}">
			</td>
			<td style="width: 40%;">
				<span th:text="${order.getProductdetail().getNameProduct()}"></span>
				<span th:text="${' '+order.getSize().toUpperCase()}" th:if="${order.getSize()!=null}"></span>
			</td>
			<td style="width: 20%;" class="editnum">
				<div th:if="${order.getNumber()>1}" style="display: inline;">
					<a th:href="@{'/minusorder/' + ${order.getIdOrder()} + '/' + ${order.getNoOrder()}}">-</a>
				</div>
				<span th:text="${order.getNumber()}"></span>
				<a th:href="@{'/addorder/' + ${order.getIdOrder()} + '/' + ${order.getNoOrder()}}">+</a>
			</td>
			<td style="width: 10%;" th:text="${order.getRealPrice()*order.getNumber()}"></td>
			<td style="width: 10%;">
				<a style="margin: 2px;" th:href="@{'/deleteorder/' + ${order.getIdOrder()} + '/' + ${order.getNoOrder()}}"><img style="width: 20px; height: 20px;" th:src="@{/Icon/cart-remove.png}"></a>
			</td>
		</tr>
		<tr>
			<td colspan="5"><hr></td>
		</tr>
		<tr>
			<td colspan="2">&nbsp;</td>
			<td>ยอดรวม</td>
			<td th:text="${total}"></td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td colspan="5">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="4"></td>
			<td><a th:href="@{'/cartconfirm/' + ${id}}" class="btnsubmit">ซื้อสินค้า</a></td>
		</tr>
		<tr>
			<td colspan="2"><red style="font-size: 12px; font-style: italic;">หมายเหตุ : ไม่สามารถเพื่มจำนวนได้ หากท่านใส่ตะกร้าครบจำนวนคลังแล้ว</red></td>
			<td colspan="3"></td>
		</tr>
		
	</table>
</body>
</html>