<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ร้านขายของน้องหมา </title>
<link rel="stylesheet" th:href="@{/CSS/Sfirstpage.css}">
<link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400&display=swap" rel="stylesheet">

<script>
function openTab(evt, buyerselect) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(buyerselect).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>
</head>

<body class="center">
<ul th:fragment="navhead" class="navhead">
		<li style="float: left;"><a href="/firstpage"><img class="profilepicture" th:src="@{/negotiating-a-lease_pet.jpg}"></a></li>
		<li style="float: left; line-height: 52px;"><a href="/firstpage">ร้านขายของน้องหมา </a></li>
		<li style="float: right"><a href="/myinfo">
			<img class="profilepicture" th:if="${session.user.getPhotoUser() == null}" alt="can't download"  th:src="@{'/Icon/default-profile.png'}">
			<img class="profilepicture" th:if="${session.user.getPhotoUser() != null}" alt="can't download" th:src="@{'data:image/jpeg;base64,'+${session.user.getPhotoUser()}}">
		</a></li>
		<li style="float: right"><a href="/myinfo" th:text="${session.user.getName()}"></a></li>
		<a href="/logout" class="logout">logout</a>
</ul>

<a class="back" href="/firstpage"><</a>

<div th:fragment="tabbuyer" class="tab">
  <a class="tablinks" href="/buyproduct">ซื้อสินค้า</a>
  <a class="tablinks" href="/buytransfer">แจ้งชำระเงิน</a>
  <a class="tablinks" href="/buytrack">ติดตามคำสั่งซื้อ</a>
</div>


<div th:fragment="tabcart" class="tabsecond">
	<a href="/firstpage" class="back"><</a>
	ตะกร้า
</div>

<img class="editprofilepicture" th:if="${session.user.getPhotoUser() == null}" alt="can't download"  th:src="@{'/Icon/default-profile.png'}">
<img class="editprofilepicture" th:if="${session.user.getPhotoUser() != null}" alt="can't download" th:src="@{'data:image/jpeg;base64,'+${session.user.getPhotoUser()}}">

</body>
</html>