<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ร้านขายของน้องหมา</title>
<link rel="stylesheet" th:href="@{/CSS/Sfirstpage.css}">
<link rel="stylesheet" th:href="@{/CSS/loginpage.css}">

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" th:src="@{/JS/general.js}"></script>

<link
	href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400&display=swap"
	rel="stylesheet">

</head>
<body class="center">
	<div id="loading"></div>

	<msg th:if="${message != null}">
		<p id="resultmsg" th:text="${message}" th:if="${pass}"></p>
		<p class="red" id="resultmsg" th:text="${message}" th:if="${!pass}"></p>
	</msg>
	
	<!-- Main Page -->
	<div th:replace="navtab :: navheadlogin"></div>
	<div class="loginwhitebg">
		<div class="col1 center">
			<p>ข้อมูลผู้ก่อตั้ง</p>
		</div>
		<div class="col2 center">
			<h1>ลืมรหัสผ่าน</h1>
			<form action="#" th:action="@{/sendforgot}" method="post">
				<table>
					<tbody>
						<tr>
							<td>อีเมล</td>
							<td><input type="text" name="email"></td>
						</tr>
					</tbody>
				</table>
				<input type="submit" value="ส่งข้อความ" onclick="wait()"> 
				<div class="center newuser-container">
					<p>กลับสู่หน้า <a href="/" class="signup">เข้าสู่ระบบ </a></p>
					<p>ผู้ใช้งานใหม่?... <a href="/signup" class="signup">สร้างบัญชี </a></p>
				
				</div>
			</form>

		</div>

	</div>
</body>
</html>