<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ร้านขายของน้องหมา</title>
<link rel="stylesheet" th:href="@{/CSS/Sfirstpage.css}">
<link rel="stylesheet" th:href="@{/CSS/loginpage.css}">
<link
	href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400&display=swap"
	rel="stylesheet">

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" th:src="@{/JS/general.js}"></script>
</head>

<body class="center">

	<msg th:if="${message != null}">
		<p id="resultmsg" th:text="${message}"></p>
	</msg>

	<!-- Main Page -->
	<div th:replace="navtab :: navheadlogin"></div>
	
	<div class="loginwhitebg">
		<div class="col1 center">
			<p>ข้อมูลผู้ก่อตั้ง</p>
		</div>
		<div class="col2 center">
			<h1>เข้าสู่ระบบ</h1>
			<form action="#" th:action="@{/dologin}" method="post"
				th:object="${user}">
				<table class="logintable">
					<tbody>
						<tr></tr>
						<tr>
							<td>อีเมล</td>
							<td><input type="text" name="email" th:field="*{email}"></td>
						</tr>
						<tr></tr>
						<tr>
							<td>รหัสผ่าน</td>
							<td><input type="password" name="password"
								th:field="*{password}"></td>
						</tr>
						<tr>
							<td colspan="3">&nbsp;</td>
						</tr>
					</tbody>
				</table>
				<input type="submit" value="เข้าสู่ระบบ"> 
				<a href="/forgotpassword" class="forgotpw">ลืมรหัสผ่าน </a>
				<div class="center newuser-container">
					<p>ผู้ใช้งานใหม่?... <a href="/signup" class="signup">สร้างบัญชี </a></p>
				</div>
			</form>

		</div>

	</div>
</body>
</html>