<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ร้านขายของน้องหมา </title>
<link rel="stylesheet" th:href="@{/CSS/infopage.css}">
<link rel="stylesheet" th:href="@{/CSS/Sfirstpage.css}">
<link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400&display=swap" rel="stylesheet">

<script type="text/javascript">
function togglePW() {
	  var x = document.getElementById("password");
	  if (x.type === "password") {
	    x.type = "text";
	  } else {
	    x.type = "password";
	  }
}
function onaccount() {
	  document.getElementById("overlayaccount").style.visibility = "visible";
}
function ondelivery() {
	  document.getElementById("overlaydelivery").style.visibility = "visible";
}
function off() {
	  document.getElementById("overlayaccount").style.visibility = "hidden";
	  document.getElementById("overlaydelivery").style.visibility = "hidden";
}
</script>
</head>

<body class="center">

<!-- Overlay -->
<div class="center" id="overlayaccount" onclick="off()">
	<div class="checked">
		<div class="overlayheader center">เพิ่มบัญชีผู้ขาย </div>
		<iframe th:src="@{/editaccount}" src="editaccount.html"></iframe>
		<close>X</close>
	</div>
</div>
<div class="center" id="overlaydelivery" onclick="off()">
	<div class="checked">
		<div class="overlayheader center">เพิ่มราคาบริการขนส่งสินค้า </div>
		<iframe th:src="@{/editdelivery}" src="adddeliveryprice.html"></iframe>
		<close>X</close>
	</div>
</div>



<!-- Main Page -->
	<p hidden="true" th:text="${session.user.getType()}"></p>
	<div th:if="${session.user.getType() == 'Customer'}">
		<ul th:replace="firstpage :: navhead"></ul>
	</div>
	<div th:if="${session.user.getType() == 'Seller'}">
		<ul th:replace="Sfirstpage :: navhead"></ul>
	</div>
	<div th:if="${session.user.getType() == 'Seller'}">
		<a class="editaccount" onclick="onaccount()">แก้ไขบัญชีผู้ขาย </a>
		<a class="editdelivery" onclick="ondelivery()">แก้ไขราคาค่าจัดส่ง </a>
	</div>
	<div class="brownbg center">
	<a href="/firstpage" class="back"><</a>
	
	<img class="editprofilepicture" th:if="${session.user.getPhotoUser() == null}" alt="can't download" th:src="@{'/Icon/default-profile.png'}">
	<img class="editprofilepicture" th:if="${session.user.getPhotoUser() != null}" alt="can't download" th:src="@{'data:image/jpeg;base64,'+${session.user.getPhotoUser()}}">
	
	<table class="myinfo-table">
	<tr>
		<td>ชื่อผู้ใช้งาน </td>
		<td><p class="outputinfo" th:text="${session.user.getName()}"></p></td>
	</tr>
	<tr>
		<td>E-mail </td>
		<td><p class="outputinfo" th:text="${session.user.getEmail()}"></p></td>
	</tr>
	<tr>
		<td>เบอร์โทรศัพท์ </td>
		<td><p class="outputinfo" th:text="${session.user.getTel()}"></p></td>
	</tr>
	<tr>
		<td>เพศ </td>
		<td><p class="outputinfo" th:text="${session.user.getGender()}"></p></td>
	</tr>
	<tr>
		<td>วันเกิด </td>
		<td><p class="outputinfo" th:text="${session.user.getBirthday()}"></p></td>
	</tr>
	<tr>
		<td>ที่อยู่ </td>
		<td><p class="outputaddress" th:text="${session.user.getAddress()}"></p></td>
	</tr>
	</table>
	<a href="/edit" class="btneditinfo">แก้ไขข้อมูลผู้ใช้งาน </a>
	</div>
	
	
</body>
</html>