<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ร้านขายของน้องหมา </title>
<link rel="stylesheet" th:href="@{/CSS/infopage.css}">
<link rel="stylesheet" th:href="@{/CSS/Sfirstpage.css}">
<link rel="stylesheet" th:href="@{/CSS/overlay.css}">
<link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400&display=swap" rel="stylesheet">

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" th:src="@{/JS/notification.js}"></script>
<script type="text/javascript">

function togglePW() {
	  var x = document.getElementById("password");
	  if (x.type === "password") {
	    x.type = "text";
	  } else {
	    x.type = "password";
	  }
}
function onaccount() {
	  document.getElementById("overlayaccount").style.visibility = "visible";
}
function onaddress() {
	  document.getElementById("overlayaddress").style.visibility = "visible";
}
function ondelivery() {
	  document.getElementById("overlaydelivery").style.visibility = "visible";
}
function onsmtp() {
	$.ajax({url: "/smtp", success: function(result){
	      $("#smtptutorialpage").html(result);
	}});
	document.getElementById("overlaysmtptutorial").style.visibility = "visible";
}
function onsmtpform() {
	$.ajax({url: "/smtpform", success: function(result){
	      $("#smtptutorialpage").html(result);
	}});
	  document.getElementById("overlaysmtptutorial").style.visibility = "visible";
}
function off() {
	  document.getElementById("overlayaccount").style.visibility = "hidden";
	  document.getElementById("overlayaddress").style.visibility = "hidden";
	  document.getElementById("overlaydelivery").style.visibility = "hidden";
	  document.getElementById("overlaysmtptutorial").style.visibility = "hidden";
}
</script>
</head>

<body class="center">

<!-- Overlay -->
<div class="center" id="overlayaddress">
	<div class="checked">
		<div class="overlayheader center">แก้ไขอยู่ผู้ใช้ </div>
		<iframe th:src="@{/address}"></iframe>
		<close onclick="off()">X</close>
	</div>
	<div class="overlaybg" onclick="off()"></div>
</div>

<div class="center" id="overlayaccount">
	<div class="checked">
		<div class="overlayheader center">เพิ่มบัญชีผู้ขาย </div>
		<iframe th:src="@{/editaccount}" src="editaccount.html"></iframe>
		<close onclick="off()">X</close>
	</div>
	<div class="overlaybg" onclick="off()"></div>
</div>

<div class="center" id="overlaydelivery">
	<div class="checked">
		<div class="overlayheader center">เพิ่มราคาบริการขนส่งสินค้า </div>
		<iframe th:src="@{/editdelivery}" src="adddeliveryprice.html"></iframe>
		<close onclick="off()">X</close>
	</div>
	<div class="overlaybg" onclick="off()"></div>
</div>

<div class="center" id="overlaysmtptutorial">
	<div class="smtp-overlay-container">
		<div id="smtptutorialpage"></div>
		<close onclick="off()">X</close>
	</div>
	<div class="overlaybg" onclick="off()"></div>
</div>


<div id="notification" class="notification">
	<div class="headnotification"><h3 style="margin: 0;">การแจ้งเตือน</h3></div>
	<bodynotification>
		<div>
			<a href="#"><div>รายละเอียดข้อมูลบลาๆๆ</div></a>
			<div style="width: 50px;"><a style="color: var(--blue); font-size: 14px;" href="#read">อ่านแล้ว</a></div>
			<hr/>
		</div>
	</bodynotification>
</div>

<!-- Main Page -->
<div class="bellnoti"><img class="bellimg" th:src="@{/Icon/bell.png}" onclick="showNoti()"></div>
	<p hidden="true" th:text="${session.user.getType()}"></p>
	<div th:if="${session.user.getType() == 'Customer'}">
		<ul th:replace="navtab :: navheadbuyer"></ul>
	</div>
	<div th:if="${session.user.getType() == 'Seller'}">
		<ul th:replace="navtab :: navheadseller"></ul>
	</div>
	<div th:if="${session.user.getType() == 'Seller'}">
		<a class="editaccount" onclick="onaccount()">แก้ไขบัญชีผู้ขาย </a>
		<a class="editdelivery" onclick="ondelivery()">แก้ไขราคาค่าจัดส่ง </a>
		<a class="smtptutorial" onclick="onsmtp()">ส่งเมลอัตโนมัติ </a>
	</div>
	<div class="brownbg center">
	<a href="/firstpage" class="back"><</a>
	
	<img class="editprofilepicture" th:if="${session.user.getPhotoUser() == null}" alt="can't download" th:src="@{'/Icon/default-profile.png'}">
	<img class="editprofilepicture" th:if="${session.user.getPhotoUser() != null}" alt="can't download" th:src="@{'data:image/jpeg;base64,'+${session.user.getPhotoUser()}}">
	
	<table class="myinfo-table">
	<tr>
		<td>ชื่อผู้ใช้งาน </td>
		<td><p class="outputinfo" th:text="${session.user.getName()}"></p></td>
	</tr>
	<tr>
		<td>E-mail </td>
		<td><p class="outputinfo" th:text="${session.user.getEmail()}"></p></td>
	</tr>
	<tr>
		<td>เบอร์โทรศัพท์ </td>
		<td><p class="outputinfo" th:text="${session.user.getTel()}"></p></td>
	</tr>
	<tr>
		<td>เพศ </td>
		<td><p class="outputinfo" th:text="${session.user.getGender()}"></p></td>
	</tr>
	<tr>
		<td>วันเกิด </td>
		<td><p class="outputinfo" th:text="${session.user.getBirthday()}"></p></td>
	</tr>
	<tr>
		<td>ที่อยู่ </td>
		<td><a class="editaddress" onclick="onaddress()">แก้ไขที่อยู่ </a></td>
	</tr>
	</table>
	
		<div style="width: 80%; text-align: right; padding: 2% 0;"><a href="/edit" class="btneditinfo">แก้ไขข้อมูลผู้ใช้งาน </a></div>
	</div>
	
	
</body>
</html>