<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ร้านขายของน้องหมา</title>
<link rel="stylesheet" th:href="@{/CSS/Sfirstpage.css}">
<link rel="stylesheet" th:href="@{/CSS/loginpage.css}">
<link
	href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400&display=swap"
	rel="stylesheet">

</head>
<body class="center">

	<!-- Main Page -->
	<div th:replace="navtab :: navheadlogin"></div>
	
	<div class="loginwhitebg">
		<div class="col center">
			<h1>ตั้งรหัสผ่านใหม่</h1>
			<form>
				<table>
					<tbody>
						<tr>
							<td>รหัสผ่านใหม่</td>
							<td><input type="password"></td>
						</tr>
					</tbody>
				</table>
				<input type="submit" value="ยืนยัน"> 
				<!-- <p th:if="${message == true}" style="color: red;">ไม่มีอีเมลนี้ในระบบ</p> -->
			</form>

		</div>

	</div>
</body>
</html>