<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ร้านขายของน้องหมา </title>
<link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400&display=swap" rel="stylesheet">
<link rel="stylesheet" th:href="@{/CSS/Sfirstpage.css}">
<style>

.tab{
	top: 0;
}

embed , object{
		position: fixed; 
		width: 80%;
		height: 680px;
		left: 10%;
	}
.pdf{
		padding: 20px;
	}
</style>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script>
$(document).ready(function(){

	var tabdelis = document.getElementsByClassName("tablinks");
	var delischeck = document.getElementById("transport").innerText;	
	
	for (i = 0; i < tabdelis.length; i++) {
		console.log(tabdelis[i].id);
		console.log(delischeck);
    	if(tabdelis[i].id == delischeck){
    		$('.tab div:nth-child('+(i+1)+') a').addClass("active");
    }
  }
})
</script>

</head>
<body>
<div class="tab">
  <div th:each="delivery: ${deliverylist}">
  	<a class="tablinks"
  		th:href="@{'/createPDF/'+ ${delivery}}"
  		th:value="${delivery}"
  		th:text="${delivery}"
  		th:id="${delivery}"></a>
  </div>
</div>

<div class="pdf">
	<p id="transport" th:text="${transport}" hidden="true"></p>
	<p th:text="${pdf}" th:if="${check==0}"></p>
	<object th:data="'data:application/pdf;base64,'+${pdf}" type="application/pdf" th:if="${check==1}">
			<embed th:src="'data:application/pdf;base64,'+${pdf}" type="application/pdf" />
	</object>
</div>
	
</body>
</html>