<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ร้านขายของน้องหมา </title>
<link rel="stylesheet" th:href="@{/CSS/Sfirstpage.css}">
<link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400&display=swap" rel="stylesheet">

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
</head>
<body class="overlaypage">
	
	<form class="smtpform center">
		<looktutorial onclick="onsmtp()">< ดู Tutorial</looktutorial>
		<table>
			<tr><td>G-mail</td></tr>
			<tr><td><input type="email" required></td></tr>
			<tr><td>Password Generate</td></tr>
			<tr><td><input type="password" required></td></tr>
		</table>
		<input class="overlayconfirm" type="submit" value="ยืนยัน">
	</form>
</body>
</html>