<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ร้านขายของน้องหมา </title>
<link rel="stylesheet" th:href="@{/CSS/Sfirstpage.css}">
<link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400&display=swap" rel="stylesheet">

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
</head>
<body class="overlaypage">
	<form th:if="${smtpcount != 0}" th:action="@{/savesmtp}" th:object="${smtp}" enctype="multipart/form-data" class="smtpform center">
		<looktutorial onclick="onsmtp()">< ดู Tutorial</looktutorial>
		<table>
			<tr><td>G-mail</td></tr>
			<tr><td>
				<input type="email" th:value="${smtp.getGmail()}" name="gmail" required>
			</td></tr>
			
			<tr><td>Password Generate</td></tr>
			<tr><td>
				<input type="text" th:value="${smtp.getPasswordgen()}" name="passwordgen" required>
			</td></tr>
		</table>
		<input class="overlayconfirm-half" type="submit" value="ยืนยัน"
			onclick="confirmandwait('ยืนยันการแก้ไข Gmail สำหรับส่งข้อความอัตโนมัตินี้ ?')">
		<a href="/deletesmtp" class="overlaydelete-half"
			onclick="if(!confirm('ต้องการลบ Gmail สำหรับส่งข้อความอัตโนมัตินี้ ?')) return false">ลบ</a>
	</form>
	
	<form th:if="${smtpcount == 0}" th:action="@{/savesmtp}" th:object="${smtp}" enctype="multipart/form-data" class="smtpform center">
		<looktutorial onclick="onsmtp()">< ดู Tutorial</looktutorial>
		<table>
			<tr><td>G-mail</td></tr>
			<tr><td>
				<input type="email" name="gmail" required>
			</td></tr>
			
			<tr><td>Password Generate</td></tr>
			<tr><td>
				<input type="text" name="passwordgen" required>
			</td></tr>
		</table>
		<input class="overlayconfirm" type="submit" value="ยืนยัน"
			onclick="confirmandwait('ยืนยันลงทะเบียน Gmail สำหรับส่งข้อความอัตโนมัตินี้ ?')">
	</form>
</body>
</html>