<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/CSS/Sfirstpage.css}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<style type="text/css">
.tabcat-container {
	position: fixed;
	top: 60px;
	left: 0;
	width: 100%;
	height: 30pt;
    font-weight: bold;
  	overflow: hidden;
  	box-shadow: 2px 2px 5px gray;
	background-color: var(--browntab);
	z-index: 900;
}

.tabcat-container a{
	background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  line-height: 30pt;
  width: 100pt;
  transition: 0.3s;
  font-size: 17px;
  text-align: center;
  color: blue;
}

.tabcat-container a.active {
	color: red;
}
</style>
<script type="text/javascript">



$(document).ready(function(){
	
	$('.tabcat-container td:first-child a').addClass("active");
	$.ajax({url: "/editproduct", success: function(result){
	      $("#div2").html(result);
	  }});
	
	  $("button").click(function(){
	    $.ajax({url: "/", success: function(result){
	      $("#div1").html(result);
	    }});
	  });
	});
	
function openTab(evt, buyerselect) {
	  var i, tablinks;
	  
	  tablinks = document.getElementsByClassName("tablinks");
	  for (i = 0; i < tablinks.length; i++) {
	    tablinks[i].className = tablinks[i].className.replace(" active", "");
	  }
	  
	  evt.currentTarget.className += " active";
	  
	  
	  console.log("/"+ buyerselect);
	  $.ajax({url: "/"+ buyerselect, success: function(result){
	      $("#div1").html(result);
	  }});
}
function openTab(evt, buyerselectcat) {
	  var i, tabcats;
	  
	  tabcats = document.getElementsByClassName("tabcat");
	  for (i = 0; i < tabcats.length; i++) {
	    tabcats[i].className = tabcats[i].className.replace(" active", "");
	  }
	  
	  evt.currentTarget.className += " active";
	  
	  console.log(buyerselectcat);
	  console.log(document.getElementsByClassName("catcheck"));
	  
	  
	  $.ajax({url: "/editproduct/"+ buyerselectcat, success: function(result){
	      $("#div2").html(result);
	  }});
}

/*function openTab(evt, buyerselect) {
	  var i, tablinks;
	  
	  tablinks = document.getElementsByClassName("tablinks");
	  for (i = 0; i < tablinks.length; i++) {
	    tablinks[i].className = tablinks[i].className.replace(" active", "");
	  }

	  evt.currentTarget.className += " active";
	  $.ajax({url: "/"+ buyerselect, success: function(result){
	      $("#div1").html(result);
	  }});
}*/

</script>
</head>
<body>


<table>
	<tr class="tabcat-container">
	<td th:each="cat: ${catlist}"
		th:if="${catlist != null}">
		
		<a class="tabcat"
			th:value="${cat.getNameCat()}"
			th:text="${cat.getNameCat()}"
			th:attr="onclick=|openTab(event, '${cat.getIdCategory()}')|">
		</a>
	</td>
	<!-- th:href="@{'/editproduct/' + ${cat.getIdCategory()}}" -->
	
	</tr>
	<tr>
		<td>
			<a href="/addcategory" class="cataddheader">+</a>
		</td>
	</tr>
</table>

<div id="div2"></div>

</body>
</html>