<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<title>ร้านขายของน้องหมา </title>
<link rel="stylesheet" th:href="@{/CSS/Sfirstpage.css}">
<link rel="stylesheet" th:href="@{/CSS/overlay.css}">
<link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400&display=swap" rel="stylesheet">
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" th:src="@{/JS/sellerjs.js}"></script>
<script type="text/javascript" th:src="@{/JS/notification.js}"></script>

<style type="text/css">
.tabheadersecond {
	padding-left: 22%;
	position: fixed;
	top: 105px;
	left: 0;
	width: 100%;
}

.tabletrack{
	width: 100%;
	overflow-y: scroll;
}
.tabletrack>th, .tabletrack>td{
	text-align: left;
	padding: 2% 0 2% 0;
}
.img{
	background-color: gray;
	width: 200px;
	height: 200px;
}

.idproduct{
	position: fixed;
	top: 2pt;
	left: 2pt;
	color: gray;
	z-index: 2;
}
.imgproduct{
	border-radius: 50px;
	background-color: white;
	width: 50px;
	height: 50px;
	box-shadow: 2px 2px 5px gray; 
}
.right{
	text-align: right;
}
.left{
	text-align: left;
}
.container{
	width: 80%;
}

</style>
<script>
$(document).ready(function(){
	var idcat = document.getElementById("namedeli").innerText;
	var tabcats = document.getElementsByClassName("sidetab");
	var tablinks = document.getElementsByClassName("tablinks");
	
	$('a.tablinks:nth-child(3)').addClass("active");
	for (i = 0; i < tabcats.length; i++) {
		if(tabcats[i].id == idcat){
	    	$('.sidetab-container tr:nth-child('+(i+1)+') a').addClass("active");
	    }
	    if(idcat == ''){
	    	$('.sidetab-container tr:first-child a').addClass("active");
	    }
	}

	$('#loading').hide();
	$('#resultmsg').fadeOut(3000);
})

function confirmandwait(confirmtxt){
	if(!confirm(confirmtxt)) return false
	$('#loading').show();
}

function on() {
	  document.getElementById("overlay").style.visibility = "visible";
}

function ondetail(orderId) {
	var roworder = document.getElementById("roworder")
	var childrow = roworder.lastElementChild;
	var origin = window.location.origin;
	document.getElementById("overlaydetail").style.visibility = "visible";
	while (childrow) { 
		roworder.removeChild(childrow); 
		childrow = roworder.lastElementChild; 
    }
	$.ajax({
	      url: origin +"/userajax?id="+orderId,
	    })
	      .done(function( data ) {
	    	  $.each( data, function(key,val) {
		    		document.getElementById("overlaytableTD1").innerHTML = 'ORDER #' + val.id;
		    		document.getElementById("overlaytableTD2").innerHTML = val.username;
		    		document.getElementById("overlaytableTD5").innerHTML = val.total + " ฿";
		    		document.getElementById("overlaytableTD6").innerHTML = val.address;
		    		document.getElementById("sendcost").innerHTML = val.sendcost + " ฿";
	    		  });
	      });
  	$.ajax({
  	      url: origin +"/testajax?id="+orderId,
  	    })
  	      .done(function( data ) {
  	    	  $.each( data, function(key,val) {
	  	    		  	var row = document.createElement("TR");
	  	    		 	var rowtotal = document.getElementById("rowtotal");
		  	    		//rowtotal.parentNode.insertBefore(row, rowtotal);
		  	    		roworder.appendChild(row);
		  	    		var c1 = row.insertCell(0);
		  	    		var c2 = row.insertCell(1);
		  	    		var c3 = row.insertCell(2);
		  	    		var c4 = row.insertCell(3);
		  	    		c1.innerHTML = "<img style='width: 80px; height: 80px; border-radius: 40px;'  \
		  	    			alt='can't download' \
		  	    			src='data:image/jpeg;base64,"+ val.image +"'>";
	  	    			c2.innerHTML = val.name;
	  	    			c3.innerHTML = "x" + val.num;
	  	    			c4.innerHTML = val.cost + " ฿";
	  	    			c1.width = "20%";
	  	    			c2.width = "50%";
	  	    			c3.width = "15%";
	  	    			c4.width = "15%";
	  	    			c4.align = "right";
  	    		  });
  	      });
}
</script>
</head>
<body>

<!-- overlay -->
<div id="loading"></div>

<msg th:if="${message != null}">
	<p id="resultmsg" th:text="${message}"></p>
</msg>

	<div class="center" id="overlaydetail">
		<div class="checked">
			<close onclick="off()">X</close>
			
			<div class="overlayheader center">รายละเอียดเพิ่มเติม </div>
			<div><num id="overlaytableTD1"/></div>
			
			<div class="buyerdetail">
				คุณ <name id="overlaytableTD2"></name><br/><br>
				ที่อยู่ : <span id="overlaytableTD6"></span>
			</div>
			
			<table id="table" class="tabledetail" style="width: 80%; margin: 4% 10%;">
				<tr>
					<td colspan="4">รายการคำสั่งซื้อ</td>
				</tr>
				<tr><td colspan="4"><hr/></td></tr>
				
				<tbody id="roworder"></tbody>
				<tr>
					<td>&nbsp;</td>
					<td>ค่าส่ง</td>
					<td>&nbsp;</td>
					<td id="sendcost" style="text-align: right;"></td>
				</tr>
				<tr><td colspan="4"><hr/></td></tr>
				<tr id="rowtotal">
					<td colspan="2">&nbsp;</td>
					<td>ยอดรวม </td>
					<td align="right" id="overlaytableTD5"></td>
				</tr>
			</table>
		</div>
		<div class="overlaybg" onclick="off()"></div>
	</div>

<div id="notification" class="notification">
	<div class="headnotification"><h3 style="margin: 0;">การแจ้งเตือน</h3></div>
	<bodynotification>
		<div>
			<a href="#"><div>รายละเอียดข้อมูลบลาๆๆ</div></a>
			<div style="width: 50px;"><a style="color: var(--blue); font-size: 14px;" href="#read">อ่านแล้ว</a></div>
			<hr/>
		</div>
	</bodynotification>
</div>

<!-- Main Page -->
<div class="bellnoti"><img class="bellimg" th:src="@{/Icon/bell.png}" onclick="showNoti()"></div>
<div class="tabheadersecond">
	<a href="/createPDF" target="_blank">ปริ๊นชื่อ-ที่อยู่ผู้ซื้อทั้งหมด</a>
</div>
<div th:replace="navtab :: navheadseller"></div>
<div th:replace="navtab :: tabseller"></div>

<div style="width: 100%;">
<table class="sidetab-container">
	<tr class="center">
		<td>
			<a href="/tracking" class="sidetab" id="idcat">
				ทั้งหมด
				<span th:if="${Allorder>0}" th:text="${Allorder}"></span>
			</a>
		</td>
	</tr>
	<tr class="center" th:each="tab: ${tabs}">
		<td>
			<a th:href="@{'/tracking/' + ${tab.getNametab()}}" 
			th:text="${tab.getNametab()}"
			class="sidetab" th:id="${tab.getNametab()}">
			</a>
			<span th:if="${tab.getNumorder()}>0" th:text="${tab.getNumorder()}"></span>
		</td>
	</tr>
</table>
<p hidden="true" id="namedeli" th:text="${namedeli}"></p>
<div class="overdetail" id="overdetail">
	<details th:each="day : ${daylist}">
		<summary th:text="${day.getMixname()}" th:value="${day.getMixname()}"></summary>
		<table class="maintable">
		<tr class="tableheader">
			<th style="height:30pt; width: 10%" > รหัสสั่งซื้อ </th>
			<th style="height:30pt; width: 20%"> ชื่อผู้ซื้อ </th>
			<th style="height:30pt; width: 40%">  รายการ </th>
			<th style="height:30pt; width: 10%" th:if="${index == 1}">ประเภทขนส่ง</th>
			<th style="height:30pt; width: 20%">เพิ่ม Track </th>
		</tr>
		<tr th:each="userorder: ${userorders}" th:if="${userorder.getPayTime().toLocalDate().isEqual(day.getLocaldate())}">
				<td th:text="${'#'+ userorder.getIdOrder()}" id="valueTD1"></td>
				<td th:text="${userorder.getUserprofile().getName()}" id="valueTD2"></td>
				<td style="position: relative;">
					<ul>
						<li th:each="orderlist: ${orderlists}" th:if="${orderlist.getIdOrder()==userorder.getIdOrder()}"> 
							<span th:text="${orderlist.getProductdetail().getNameProduct()}"></span>
							<span th:text="${' '+orderlist.getSize().toUpperCase()}" th:if="${orderlist.getSize()!=null}"></span>
							<span th:text="${'  x'+ orderlist.getNumber()}"></span>
			  			</li>
					</ul>
					<a th:href="@{'/trantocancel/' + ${userorder.getIdOrder()}}" id="tocancel"
					th:data-confirm-delete="|ต้องการยกเลิกรายการ #${userorder.getIdOrder()}?|"
					onclick="confirmandwait(this.getAttribute('data-confirm-delete'))">ยกเลิกรายการ </a>
					<a id="detaildata" th:attr="onclick=|ondetail('${userorder.getIdOrder()}')|">รายละเอียด </a>
				</td>
				<td th:text="${userorder.getNameDelivery()}" th:if="${index == 1}"></td>
			<td style="text-align: center;">
				<form action="#" th:action="@{'/trantoshipping/' + ${userorder.getIdOrder()}}" method="post">
					<input style="width: 100pt;" type="text" name="numtrack" id="numtrack">
					<input type="submit" value="ยืนยัน"
					th:data-confirm-submit="|ยืนยันเลข track ของออเดอร์ #${userorder.getIdOrder()}?|"
					onclick="if (!confirm(this.getAttribute('data-confirm-submit'))) return false">
				</form>
			</td>
		</tr>
		</table>
	</details>
</div>
</div>
</body>
</html>