<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<title>ร้านขายของน้องหมา </title>
<link rel="stylesheet" th:href="@{/CSS/Sfirstpage.css}">
<link rel="stylesheet" th:href="@{/CSS/overlay.css}">
<link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400&display=swap" rel="stylesheet">
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" th:src="@{/JS/sellerjs.js}"></script>
<script type="text/javascript" th:src="@{/JS/notification.js}"></script>

<script>
$(document).ready(function(){
	var idcat = window.location.href.split('/').pop();
	var tabcats = document.getElementsByClassName("sidetab");
	var tablinks = document.getElementsByClassName("tablinks");
	
	$('a.tablinks:nth-child(4)').addClass("active");
	for (i = 0; i < tabcats.length; i++) {
	    if(idcat == "shipping"){
	    	$('.sidetab-container tr:nth-child(1) a').addClass("active");
	    }
	    if(idcat == "complete"){
	    	$('.sidetab-container tr:nth-child(2) a').addClass("active");
	    }
	}
})

function ondetail(orderId) {
	var roworder = document.getElementById("roworder")
	var childrow = roworder.lastElementChild;
	var origin = window.location.origin;
	
	document.getElementById("overlaydetail").style.visibility = "visible";
	while (childrow) { 
		roworder.removeChild(childrow); 
		childrow = roworder.lastElementChild; 
    }
	$.ajax({
	      url: origin + "/userajax?id="+orderId,
	    })
	      .done(function( data ) {
	    	  $.each( data, function(key,val) {
		    		document.getElementById("overlaytableTD1").innerHTML = 'ORDER #' + val.id;
		    		document.getElementById("overlaytableTD2").innerHTML = val.username;
		    		document.getElementById("overlaytableTD5").innerHTML = val.total + " ฿";
		    		document.getElementById("overlaytableTD6").innerHTML = val.address;
		    		document.getElementById("overlaytableTD7").innerHTML = val.track;
		    		document.getElementById("sendcost").innerHTML = val.sendcost + " ฿";
	    		  });
	      });
  	$.ajax({
  	      url: origin + "/testajax?id="+orderId,
  	    })
  	      .done(function( data ) {
  	    	  $.each( data, function(key,val) {
	  	    		  	var row = document.createElement("TR");
		  	    		//rowtotal.parentNode.insertBefore(row, rowtotal);
		  	    		roworder.appendChild(row);
		  	    		var c1 = row.insertCell(0);
		  	    		var c2 = row.insertCell(1);
		  	    		var c3 = row.insertCell(2);
		  	    		var c4 = row.insertCell(3);
		  	    		c1.innerHTML = "<img style='width: 80px; height: 80px; border-radius: 40px;'  \
		  	    			alt='can't download' \
		  	    			src='data:image/jpeg;base64,"+ val.image +"'>";
	  	    			c2.innerHTML = val.name;
	  	    			c3.innerHTML = "x" + val.num;
	  	    			c4.innerHTML = val.cost + " ฿";
	  	    			c1.width = "20%";
	  	    			c2.width = "50%";
	  	    			c3.width = "15%";
	  	    			c4.width = "15%";
	  	    			c4.align = "right";
  	    		  });
  	      });
}

</script>
</head>
<body>
<!-- overlay -->
<div class="center" id="overlaydetail">
	<div class="checked">
			<close onclick="off()">X</close>
			
			<div class="overlayheader center">รายละเอียดเพิ่มเติม </div>
			<div><num id="overlaytableTD1"/></div>
			
			<div class="buyerdetail">
				คุณ <name id="overlaytableTD2"></name><br/><br>
				ที่อยู่ : <span id="overlaytableTD6"></span>
			</div>
			
			<div class="track">Track number: <track id="overlaytableTD7"></track></div>
			<table id="table" class="tabledetail" style="width: 80%; margin: 4% 10%;">
				<tr>
					<td colspan="4">รายการคำสั่งซื้อ</td>
				</tr>
				<tr><td colspan="4"><hr/></td></tr>
				
				<tbody id="roworder"></tbody>
				<tr>
					<td>&nbsp;</td>
					<td>ค่าส่ง</td>
					<td>&nbsp;</td>
					<td id="sendcost" style="text-align: right;"></td>
				</tr>
				<tr><td colspan="4"><hr/></td></tr>
				<tr id="rowtotal">
					<td colspan="2">&nbsp;</td>
					<td>ยอดรวม </td>
					<td align="right" id="overlaytableTD5"></td>
				</tr>
		</table>
	</div>
	<div class="overlaybg" onclick="off()"></div>
</div>

<div id="notification" class="notification">
	<div class="headnotification"><h3 style="margin: 0;">การแจ้งเตือน</h3></div>
	<bodynotification>
		<div>
			<a href="#"><div>รายละเอียดข้อมูลบลาๆๆ</div></a>
			<div style="width: 50px;"><a style="color: var(--blue); font-size: 14px;" href="#read">อ่านแล้ว</a></div>
			<hr/>
		</div>
	</bodynotification>
</div>

<!-- Main Page -->
<div class="bellnoti"><img class="bellimg" th:src="@{/Icon/bell.png}" onclick="showNoti()"></div>
<div th:replace="navtab :: navheadseller"></div>
<div th:replace="navtab :: tabseller"></div>

<div style="width: 100%;">
<table class="sidetab-container">
	<tr class="center">
		<td>
			<a href="/complete/shipping" class="sidetab" id="idcat">
				กำลังขนส่ง
				<span th:if="${numorders.get(0)>0}" th:text="${numorders.get(0)}"></span>
			</a>
		</td>
	</tr>
	<tr class="center">
		<td>
			<a href="/complete/complete" class="sidetab" id="idcat">
				ได้รับแล้ว
				<span th:if="${numorders.get(1)>0}" th:text="${numorders.get(1)}"></span>
			</a>
		</td>
	</tr>
</table>
<div class="overdetail" id="overdetail">
<details th:each="month : ${monthlist}">
	<summary th:text="${month.getMonthname()}" th:value="${month.getMonthname()}"></summary>
	<table class="maintable">
	<tr class="tableheader">
		<th style="height:30pt; width: 10%" > รหัสสั่งซื้อ </th>
		<th style="height:30pt; width: 20%" > ชื่อผู้ซื้อ </th>
		<th style="height:30pt; width: 40%">  รายการ </th>
		<th style="height:30pt; width: 20%">  เลขแทร็ก </th>
		<th style="height:30pt; width: 10%" > ผู้ซื้อได้รับแล้ว </th>
	</tr>
	<tr th:each="userorder: ${userlist}" th:if=${userorder.getPayTime().getMonthValue()==month.getMonthnum()}>
		<td th:text="${'#'+ userorder.getIdOrder()}" id="valueTD1"></td>
		<td th:text="${userorder.getUserprofile().getName()}" id="valueTD2"></td>
		<td style="position: relative;" >
			<ul>
				<li th:each="orderlist: ${orderlists}" th:if="${orderlist.getIdOrder()==userorder.getIdOrder()}"> 
					<span th:text="${orderlist.getProductdetail().getNameProduct()}"></span>
					<span th:text="${' '+orderlist.getSize().toUpperCase()}" th:if="${orderlist.getSize()!=null}"></span>
					<span th:text="${'  x'+ orderlist.getNumber()}"></span>
	  			</li>
			</ul>
			<a id="detaildata" th:attr="onclick=|ondetail('${userorder.getIdOrder()}')|">รายละเอียด </a>
		</td>
		<td th:text="${userorder.getTrack()}"></td>
		<td th:if="${userorder.getStatus().equalsIgnoreCase('shipping')}">กำลังขนส่ง</td>
		<td th:if="${userorder.getStatus().equalsIgnoreCase('complete')}">ได้รับแล้ว</td>
	</tr>
	</table>
</details>
</div>
</div>
</body>
</html>