<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<title>ร้านขายของน้องหมา </title>
<link rel="stylesheet" th:href="@{/CSS/Sfirstpage.css}">
<link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400&display=swap" rel="stylesheet">
<style type="text/css">

/* transfercheck */

/* overlay */
#detaildata{
	position: absolute;
	font-size: 10pt;
	right: 2%;
	bottom: 2%;
	text-decoration: underline;
	cursor: pointer;
}

.overlaytable{
	width: 100%;
	overflow-y: scroll;
	position: relative;
}
.overlaytable > th, .overlaytable > td{
	text-align: left;
	padding: 2% 0 2% 14%;
}
.overlaytable > td{
	width: 60%;
}
.img{
	background-color: gray;
	width: 200px;
	height: 200px;
}
</style>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script>
$(document).ready(function(){
	var idcat = document.getElementById("idcat").innerText;
	var tabcats = document.getElementsByClassName("tabcat");
	var tablinks = document.getElementsByClassName("tablinks");
	
	$('a.tablinks:nth-child(2)').addClass("active");
	$('.tabcat-container tr:first-child a').addClass("active");
	/*for (i = 0; i < tabcats.length; i++) {
	    if(tabcats[i].id == idcat){
	    	$('.tabcat-container tr:nth-child('+(i+1)+') a').addClass("active");
	    }
	}*/
})

function on(orderId) {
  	document.getElementById("overlay").style.visibility = "visible";
  	$.ajax({
	      url:"http://localhost:7070/checkajax?id="+orderId,
	    })
	      .done(function( data ) {
	    	  $.each( data, function(key,val) {
		    		document.getElementById("overlaytableTD1").innerHTML = '#' + val.id;
		    	  	document.getElementById("overlaytableTD2").innerHTML = val.username;
		    	  	document.getElementById("overlaytableTD3").innerHTML = val.total;
		    	  	document.getElementById("overlaytableTD4").innerHTML = val.pay;
		    	  	document.getElementById("overlaytableTD5").innerHTML = val.userbank;
		    	  	document.getElementById("overlaytableTD6").innerHTML = val.sellerbank;
		    	  	document.getElementById("overlaytableTD7").innerHTML = val.paytime;
		    	  	document.getElementById("overlayIMG").innerHTML = "<img width='200' alt='can't download' src='data:image/jpeg;base64,"+ val.image +"'>";
		    	  	document.getElementById("overlayconfirm").href="/trantotracking/"+ val.id;
	    		  });
	      });
}

function off() {
  document.getElementById("overlay").style.visibility = "hidden";
}

function ondetail() {
	  document.getElementById("overlaydetail").style.visibility = "visible";
}

function offdetail() {
	  document.getElementById("overlaydetail").style.visibility = "hidden";
}
</script>
</head>

<body>
<!-- overlay -->
	<div class="center" id="overlaydetail" onclick="offdetail()">
		<div class="checked center">
			<div class="overlayheader center">รายละเอียดเพิ่มเติม </div>
		</div>
	</div>
	
	<div class="center" id="overlay" onclick="off()">
		<div class="checked center" onclick="on()">
			<div>
			<div class="overlayheader center">ตรวจสอบ </div>
			<table class="overlaytable">
				<tr>
						<th>รหัสสั่งซื้อ</th>
						<td id="overlaytableTD1"></td>
					</tr>
					<tr>
						<th>ชื่อ-สกุล</th>
						<td id="overlaytableTD2"></td>
					</tr>
					<tr>
						<th>จำนวนเงินที่ต้องโอน</th>
						<td id="overlaytableTD3"></td>
					</tr>
					<tr>
						<th>จำนวนเงินที่โอนมา</th>
						<td id="overlaytableTD4"></td>
					</tr>
					<tr>
						<th>จากธนาคาร</th>
						<td id="overlaytableTD5"></td>
					</tr>
					<tr>
						<th>เข้าธนาคาร</th>
						<td id="overlaytableTD6"></td>
					</tr>
					<tr>
						<th>วันเวลาที่โอน</th>
						<td id="overlaytableTD7"></td>
					</tr>
			</table>
			<div class="img" id="overlayIMG"></div>
		<a href="" class="overlayconfirm" id="overlayconfirm">ยืนยัน </a>
			</div>
		</div>
	</div>

<!-- Main Page -->
<div th:replace="Sfirstpage :: navhead"></div>
<div th:replace="Sfirstpage :: tabseller"></div>

<div style="width: 100%;">
<table class="tabcat-container">
	<tr class="center">
		<td>
			<a class="tabcat" id="idcat">
				ธนาคาร
			</a>
		</td>
	</tr>
</table>
<div style="width: 85%; float: right;" class="overdetail">
	<details th:each="day : ${daylist}">
		<summary th:text="${day.getMixname()}" th:value="${day.getMixname()}"></summary>
		<table class="maintable">
			<tr class="tableheader">
				<th style="height:30pt; width: 10%" > รหัสสั่งซื้อ </th>
				<th style="height:30pt; width: 40%">  รายการ </th>
				<th style="height:30pt; width: 10%">ธนาคารผู้ขาย </th>
				<th style="height:30pt; width: 10%">วัน-เวลาที่โอน </th>
				<th style="height:30pt; width: 10%">ยอดรวมที่ต้องโอน</th>
				<th style="height:30pt; width: 10%">จำนวนเงินที่โอนมา</th>
				<th style="height:30pt; width: 10%">ตรวจสอบ </th>
			</tr>
			<tr th:each="userorder: ${userorders}" th:if="${userorder.getPayTime().toLocalDate().isEqual(day.getLocaldate())}">
				<td th:text="${'#'+ userorder.getIdOrder()}" id="valueTD1"></td>
				<td style="position: relative;" >
					<ul>
						<li th:each="orderlist: ${orderlists}" th:if="${orderlist.getIdOrder()==userorder.getIdOrder()}"> 
							<span th:text="${orderlist.getProductdetail().getNameProduct()}"></span>
							<span th:text="${' '+orderlist.getSize().toUpperCase()}" th:if="${orderlist.getSize()!=null}"></span>
							<span th:text="${'  x'+ orderlist.getNumber()}"></span>
			  			</li>
					</ul>
					<!-- <a onclick="ondetail()" id="detaildata">รายละเอียด </a> -->
				</td>
				<td th:text="${userorder.getSellerBank()}" id="valueTD6">a</td>
				<td th:text="${userorder.getPayTime()}" id="valueTD7">a</td>
				<td th:text="${userorder.getTotalOrder()}" id="valueTD3">a</td>
				<td th:text="${userorder.getPayTotal()}" id="valueTD4">a</td>
				<td style="text-align: center;">
					<button class="btncheck" th:attr="onclick=|on('${userorder.getIdOrder()}')|">ตรวจสอบ </button>
				</td>
				<input type="hidden" th:value="${userorder.getUserprofile().getName()}" id="valueTD2">
				<input type="hidden" th:value="${userorder.getUserBank()}" id="valueTD5">
				<input type="hidden" th:value="${userorder.getLastNum()}" id="valueTD8">
				<input type="hidden" th:value="${userorder.getPhotoPay()}" id="valueIMG">
				<input type="hidden" th:value="${userorder.getIdOrder()}" id="valueLink">
				
			</tr>
		</table>
	</details>
</div>
</div>
</body>
</html>