<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<title>ร้านขายของน้องหมา </title>
<link rel="stylesheet" th:href="@{/CSS/Sfirstpage.css}">
<link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400&display=swap" rel="stylesheet">
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script>
$(document).ready(function(){
	var tablinks = document.getElementsByClassName("tablinks");
	$('a.tablinks:nth-child(4)').addClass("active");
})

function ondetail() {
	document.getElementById("overlaydetail").style.visibility = "visible";
}

function offdetail() {
	document.getElementById("overlaydetail").style.visibility = "hidden";
}

function ondetail(orderId) {
	var roworder = document.getElementById("roworder")
	var childrow = roworder.lastElementChild;
	document.getElementById("overlaydetail").style.visibility = "visible";
	while (childrow) { 
		roworder.removeChild(childrow); 
		childrow = roworder.lastElementChild; 
    }
	$.ajax({
	      url:"http://localhost:7070/userajax?id="+orderId,
	    })
	      .done(function( data ) {
	    	  $.each( data, function(key,val) {
		    		document.getElementById("overlaytableTD1").innerHTML = '#' + val.id;
		    		document.getElementById("overlaytableTD2").innerHTML = val.username;
		    		document.getElementById("overlaytableTD5").innerHTML = val.total;
		    		document.getElementById("overlaytableTD6").innerHTML = val.address;
		    		document.getElementById("overlaytableTD7").innerHTML = val.track;
	    		  });
	      });
  	$.ajax({
  	      url:"http://localhost:7070/testajax?id="+orderId,
  	    })
  	      .done(function( data ) {
  	    	  $.each( data, function(key,val) {
	  	    		  	var row = document.createElement("TR");
		  	    		//rowtotal.parentNode.insertBefore(row, rowtotal);
		  	    		roworder.appendChild(row);
		  	    		var c1 = row.insertCell(0);
		  	    		var c2 = row.insertCell(1);
		  	    		var c3 = row.insertCell(2);
	  	    			c1.innerHTML = val.name;
	  	    			c2.innerHTML = val.num;
	  	    			c3.innerHTML = val.cost;
  	    		  });
  	      });
}

function offdetail() {
	document.getElementById("overlaydetail").style.visibility = "hidden";
}
</script>
</head>
<body>
<!-- overlay -->
<div class="center" id="overlaydetail" onclick="offdetail()">
	<div class="checked center">
		<div class="overlayheader center">รายละเอียดเพิ่มเติม </div>
		<table class="tabledetail" style="width: 80%;">
			<tr>
				<td>รหัส order</td>
				<td id="overlaytableTD1" colspan="2"></td>
			</tr>
			<tr>
				<td>ชื่อผู้ซื้อ </td>
				<td id="overlaytableTD2" colspan="2"></td>
			</tr>
			<tr>
				<td>รายการ </td>
				<td>จำนวน</td>
				<td>ราคา (ต่อชิ้น) </td>
			</tr>
			<tbody id="roworder"></tbody>
			<tr>
				<td colspan="2">ยอดรวม </td>
				<td id="overlaytableTD5"></td>
			</tr>
			<tr>
				<td>ที่อยู่</td>
				<td id="overlaytableTD6" colspan="2"></td>
			</tr>
			<tr>
				<td>เลข track</td>
				<td id="overlaytableTD7" colspan="2"></td>
			</tr>
		</table>
	</div>
</div>

<!-- Main Page -->
<div th:replace="Sfirstpage :: navhead"></div>
<div th:replace="Sfirstpage :: tabseller"></div>

<div class="overdetail">
<details th:each="month : ${monthlist}">
	<summary th:text="${month.getMonthname()}" th:value="${month.getMonthname()}"></summary>
	<table class="maintable">
	<tr class="tableheader">
		<th style="height:30pt; width: 10%" > รหัสสั่งซื้อ </th>
		<th style="height:30pt; width: 20%" > ชื่อผู้ซื้อ </th>
		<th style="height:30pt; width: 60%">  รายการ </th>
		<th style="height:30pt; width: 10%" > ผู้ซื้อได้รับแล้ว </th>
	</tr>
	<tr th:each="userorder: ${userlist}" th:if=${userorder.getPayTime().getMonthValue()==month.getMonthnum()}>
		<td th:text="${'#'+ userorder.getIdOrder()}" id="valueTD1"></td>
		<td th:text="${userorder.getUserprofile().getName()}" id="valueTD2"></td>
		<td style="position: relative;" >
			<ul>
				<li th:each="orderlist: ${orderlists}" th:if="${orderlist.getIdOrder()==userorder.getIdOrder()}"> 
					<span th:text="${orderlist.getProductdetail().getNameProduct()}"></span>
					<span th:text="${' '+orderlist.getSize().toUpperCase()}" th:if="${orderlist.getSize()!=null}"></span>
					<span th:text="${'  x'+ orderlist.getNumber()}"></span>
	  			</li>
			</ul>
			<a id="detaildata" th:attr="onclick=|ondetail('${userorder.getIdOrder()}')|">รายละเอียด </a>
		</td>
		<td th:if="${userorder.getStatus().equalsIgnoreCase('shipping')}">กำลังขนส่ง</td>
		<td th:if="${userorder.getStatus().equalsIgnoreCase('complete')}">ได้รับแล้ว</td>
		<input type="hidden" th:value="${userorder.getTotalOrder()}" id="valueTD5">
		<input type="hidden" th:value="${userorder.getUserprofile().getAddress()}" id="valueTD6">
		<input type="hidden" th:value="${userorder.getTrack()}" id="valueTD7">
	</tr>
	</table>
</details>
</div>
</body>
</html>