<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<title>ร้านขายของน้องหมา </title>
<link rel="stylesheet" th:href="@{/CSS/Sfirstpage.css}">
<link rel="stylesheet" th:href="@{/CSS/addeditoneproduct.css}">
<link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400&display=swap" rel="stylesheet">
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" th:src="@{/JS/sellerjs.js}"></script>

<style type="text/css">
/* overlay */
.overlaytable{
	width: 100%;
	overflow-y: scroll;
	position: relative;
}
.overlaytable > th, .overlaytable > td{
	text-align: left;
	padding: 2% 0 2% 14%;
}
.overlaytable > td{
	width: 60%;
}
.img{
	background-color: gray;
	width: 200px;
	height: 200px;
}

</style>
<script>
$(document).ready(function(){
	var idcat = document.getElementById("namebank").innerText;
	var tabcats = document.getElementsByClassName("sidetab");
	var tablinks = document.getElementsByClassName("tablinks");
	
	$('a.tablinks:nth-child(2)').addClass("active");
	for (i = 0; i < tabcats.length; i++) {
	    if(tabcats[i].id == idcat){
	    	$('.sidetab-container tr:nth-child('+(i+1)+') a').addClass("active");
	    }
	    if(idcat == ''){
	    	$('.sidetab-container tr:first-child a').addClass("active");
	    }
	}
})

function on(orderId) {
  	document.getElementById("overlay").style.visibility = "visible";
  	$.ajax({
	      url:"http://localhost:7070/checkajax?id="+orderId,
	    })
	      .done(function( data ) {
	    	  $.each( data, function(key,val) {
		    		document.getElementById("overlaytableTD1").innerHTML = '#' + val.id;
		    	  	document.getElementById("overlaytableTD2").innerHTML = val.username;
		    	  	document.getElementById("overlaytableTD3").innerHTML = val.total;
		    	  	document.getElementById("overlaytableTD4").innerHTML = val.pay;
		    	  	document.getElementById("overlaytableTD5").innerHTML = val.userbank;
		    	  	document.getElementById("overlaytableTD6").innerHTML = val.sellerbank;
		    	  	document.getElementById("overlaytableTD7").innerHTML = val.paytime;
		    	  	document.getElementById("overlayIMG").innerHTML = "<img width='200' alt='can't download' src='data:image/jpeg;base64,"+ val.image +"'>";
		    	  	document.getElementById("overlayconfirm").href="/trantotracking/"+ val.id;
	    		  });
	      });
}

</script>
</head>

<body>
<!-- overlay -->
	<div class="center" id="overlaydetail">
		<div class="checked center">
			<div class="overlayheader center">รายละเอียดเพิ่มเติม </div>
		</div>
		<div class="overlaybg" onclick="off()"></div>
	</div>
	
	<div class="center" id="overlay">
		<div class="checked">
			<close onclick="off()">X</close>
			<div class="overlayheader center">ตรวจสอบ </div>
			<table style="width: 100%; height: 100%; padding: 10px 0 50px 0;">
				<tr style="height: 6%;">
						<th>รหัสสั่งซื้อ</th>
						<td id="overlaytableTD1"></td>
					</tr>
					<tr style="height: 6%;">
						<th>ชื่อ-สกุล</th>
						<td id="overlaytableTD2"></td>
					</tr>
					<tr style="height: 6%;">
						<th>จำนวนเงินที่ต้องโอน</th>
						<td id="overlaytableTD3"></td>
					</tr>
					<tr style="height: 6%;">
						<th>จำนวนเงินที่โอนมา</th>
						<td id="overlaytableTD4"></td>
					</tr>
					<tr style="height: 6%;">
						<th>จากธนาคาร</th>
						<td id="overlaytableTD5"></td>
					</tr>
					<tr style="height: 6%;">
						<th>เข้าธนาคาร</th>
						<td id="overlaytableTD6"></td>
					</tr>
					<tr style="height: 6%;">
						<th>วันเวลาที่โอน</th>
						<td id="overlaytableTD7"></td>
					</tr>
					<tr style="height: 58%;">
						<td colspan="2" class="center" style="height: 100%;">
							<div class="img" id="overlayIMG"></div>
						</td>
					</tr>
			</table>
				<a href="" class="overlayconfirm" id="overlayconfirm">ยืนยัน </a>
			</div>
		<div class="overlaybg" onclick="off()"></div>
	</div>

<!-- Main Page -->
<div th:replace="navtab :: navheadseller"></div>
<div th:replace="navtab :: tabseller"></div>

<div style="width: 100%;">
<table class="sidetab-container">
	<tr class="center">
		<td>
			<a href="/checking" class="sidetab" id="all">
				ทั้งหมด
			</a>
		</td>
	</tr>
	<tr class="center" th:each="account: ${accounts}">
		<td>
			<a th:href="@{'/checking/' + ${account}}" 
				th:text="${#strings.substringAfter(#strings.substringBefore(account ,' '), 'ธนาคาร')}"
				class="sidetab" th:id="${account}" >
			</a>
		</td>
	</tr>
</table>
<p id="namebank" th:text="${namebank}" hidden="true">all</p>
<div class="overdetail">
	<details th:each="day : ${daylist}">
		<summary th:text="${day.getMixname()}" th:value="${day.getMixname()}"></summary>
		<table class="maintable">
			<tr class="tableheader">
				<th style="height:30pt; width: 10%" > รหัสสั่งซื้อ </th>
				<th style="height:30pt; width: 40%">  รายการ </th>
				<th style="height:30pt; width: 10%" th:if="${index == 1}">ธนาคารผู้ขาย </th>
				<th style="height:30pt; width: 10%">วัน-เวลาที่โอน </th>
				<th style="height:30pt; width: 10%">ยอดรวมที่ต้องโอน</th>
				<th style="height:30pt; width: 10%">จำนวนเงินที่โอนมา</th>
				<th style="height:30pt; width: 10%">ตรวจสอบ </th>
			</tr>
			<tr th:each="userorder: ${userorders}" th:if="${userorder.getPayTime().toLocalDate().isEqual(day.getLocaldate())}">
				<td th:text="${'#'+ userorder.getIdOrder()}" id="valueTD1"></td>
				<td style="position: relative;" >
					<ul>
						<li th:each="orderlist: ${orderlists}" th:if="${orderlist.getIdOrder()==userorder.getIdOrder()}"> 
							<span th:text="${orderlist.getProductdetail().getNameProduct()}"></span>
							<span th:text="${' '+orderlist.getSize().toUpperCase()}" th:if="${orderlist.getSize()!=null}"></span>
							<span th:text="${'  x'+ orderlist.getNumber()}"></span>
			  			</li>
					</ul>
					<!-- <a onclick="ondetail()" id="detaildata">รายละเอียด </a> -->
				</td>
				<td th:text="${userorder.getSellerBank()}" id="valueTD6" th:if="${index == 1}">a</td>
				<td th:text="${userorder.getPayTime()}" id="valueTD7">a</td>
				<td th:text="${userorder.getTotalOrder()}" id="valueTD3">a</td>
				<td th:text="${userorder.getPayTotal()}" id="valueTD4">a</td>
				<td style="text-align: center;">
					<button class="btncheck" th:attr="onclick=|on('${userorder.getIdOrder()}')|">ตรวจสอบ </button>
				</td>
				
			</tr>
		</table>
	</details>
</div>
</div>
</body>
</html>