<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<title>ร้านขายของน้องหมา </title>
<link rel="stylesheet" th:href="@{/CSS/Sfirstpage.css}">
<link rel="stylesheet" th:href="@{/CSS/overlay.css}">
<link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400&display=swap" rel="stylesheet">
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" th:src="@{/JS/sellerjs.js}"></script>

<script>
$(document).ready(function(){
	var idcat = window.location.href.split('/').pop();
	var tabcats = document.getElementsByClassName("sidetab");
	var tablinks = document.getElementsByClassName("tablinks");
	
	$('a.tablinks:nth-child(4)').addClass("active");
	for (i = 0; i < tabcats.length; i++) {
	    if(idcat == "shipping"){
	    	$('.sidetab-container tr:nth-child(1) a').addClass("active");
	    }
	    if(idcat == "complete"){
	    	$('.sidetab-container tr:nth-child(2) a').addClass("active");
	    }
	}
})

function ondetail(orderId) {
	var roworder = document.getElementById("roworder")
	var childrow = roworder.lastElementChild;
	var origin = window.location.origin;
	
	document.getElementById("overlaydetail").style.visibility = "visible";
	while (childrow) { 
		roworder.removeChild(childrow); 
		childrow = roworder.lastElementChild; 
    }
	$.ajax({
	      url: origin + "/userajax?id="+orderId,
	    })
	      .done(function( data ) {
	    	  $.each( data, function(key,val) {
		    		document.getElementById("overlaytableTD1").innerHTML = '#' + val.id;
		    		document.getElementById("overlaytableTD2").innerHTML = val.username;
		    		document.getElementById("overlaytableTD5").innerHTML = val.total;
		    		document.getElementById("overlaytableTD6").innerHTML = val.address;
		    		document.getElementById("overlaytableTD7").innerHTML = val.track;
	    		  });
	      });
  	$.ajax({
  	      url: origin + "/testajax?id="+orderId,
  	    })
  	      .done(function( data ) {
  	    	  $.each( data, function(key,val) {
	  	    		  	var row = document.createElement("TR");
		  	    		//rowtotal.parentNode.insertBefore(row, rowtotal);
		  	    		roworder.appendChild(row);
		  	    		var c1 = row.insertCell(0);
		  	    		var c2 = row.insertCell(1);
		  	    		var c3 = row.insertCell(2);
	  	    			c1.innerHTML = val.name;
	  	    			c2.innerHTML = val.num;
	  	    			c3.innerHTML = val.cost;
  	    		  });
  	      });
}

</script>
</head>
<body>
<!-- overlay -->
<div class="center" id="overlaydetail">
	<div class="checked">
			<close onclick="off()">X</close>
			
			<div class="overlayheader center">รายละเอียดเพิ่มเติม </div>
			<div><num id="overlaytableTD1"/></div>
			
			<div class="buyerdetail">
				คุณ <name id="overlaytableTD2"></name><br/>
				ที่อยู่ <address id="overlaytableTD6"></address>
			</div>
			
			<div class="track">Track number: <track id="overlaytableTD7"></track></div>
			<table id="table" class="tabledetail" style="width: 80%; margin: 4% 10%;">
				<tr>
					<td colspan="3">รายการคำสั่งซื้อ</td>
				</tr>
				<tr><td colspan="3"><hr/></td></tr>
				
				<tbody id="roworder"></tbody>
				
				<tr><td colspan="3"><hr/></td></tr>
				<tr id="rowtotal">
					<td align="right" colspan="3">ยอดรวม <total id="overlaytableTD5"/></td>
				</tr>
		</table>
	</div>
	<div class="overlaybg" onclick="off()"></div>
</div>

<!-- Main Page -->
<div th:replace="navtab :: navheadseller"></div>
<div th:replace="navtab :: tabseller"></div>

<div style="width: 100%;">
<table class="sidetab-container">
	<tr class="center">
		<td>
			<a href="/complete/shipping" class="sidetab" id="idcat">
				กำลังขนส่ง
			</a>
		</td>
	</tr>
	<tr class="center">
		<td>
			<a href="/complete/complete" class="sidetab" id="idcat">
				ได้รับแล้ว
			</a>
		</td>
	</tr>
</table>
<div class="overdetail">
<details th:each="month : ${monthlist}">
	<summary th:text="${month.getMonthname()}" th:value="${month.getMonthname()}"></summary>
	<table class="maintable">
	<tr class="tableheader">
		<th style="height:30pt; width: 10%" > รหัสสั่งซื้อ </th>
		<th style="height:30pt; width: 20%" > ชื่อผู้ซื้อ </th>
		<th style="height:30pt; width: 40%">  รายการ </th>
		<th style="height:30pt; width: 20%">  เลขแทร็ก </th>
		<th style="height:30pt; width: 10%" > ผู้ซื้อได้รับแล้ว </th>
	</tr>
	<tr th:each="userorder: ${userlist}" th:if=${userorder.getPayTime().getMonthValue()==month.getMonthnum()}>
		<td th:text="${'#'+ userorder.getIdOrder()}" id="valueTD1"></td>
		<td th:text="${userorder.getUserprofile().getName()}" id="valueTD2"></td>
		<td style="position: relative;" >
			<ul>
				<li th:each="orderlist: ${orderlists}" th:if="${orderlist.getIdOrder()==userorder.getIdOrder()}"> 
					<span th:text="${orderlist.getProductdetail().getNameProduct()}"></span>
					<span th:text="${' '+orderlist.getSize().toUpperCase()}" th:if="${orderlist.getSize()!=null}"></span>
					<span th:text="${'  x'+ orderlist.getNumber()}"></span>
	  			</li>
			</ul>
			<a id="detaildata" th:attr="onclick=|ondetail('${userorder.getIdOrder()}')|">รายละเอียด </a>
		</td>
		<td th:text="${userorder.getTrack()}"></td>
		<td th:if="${userorder.getStatus().equalsIgnoreCase('shipping')}">กำลังขนส่ง</td>
		<td th:if="${userorder.getStatus().equalsIgnoreCase('complete')}">ได้รับแล้ว</td>
	</tr>
	</table>
</details>
</div>
</div>
</body>
</html>