<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<title>ร้านขายของน้องหมา </title>
<link rel="stylesheet" th:href="@{/CSS/Sfirstpage.css}">
<link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400&display=swap" rel="stylesheet">
<style type="text/css">

.tabheadersecond {
	padding-left: 10%;
	position: fixed;
	top: 105px;
	left: 0;
	width: 100%;
}

.tabletrack{
	width: 100%;
	overflow-y: scroll;
}
.tabletrack>th, .tabletrack>td{
	text-align: left;
	padding: 2% 0 2% 0;
}
.img{
	background-color: gray;
	width: 200px;
	height: 200px;
}

.idproduct{
	position: fixed;
	top: 2pt;
	left: 2pt;
	color: gray;
	z-index: 2;
}
.imgproduct{
	border-radius: 50px;
	background-color: white;
	width: 50px;
	height: 50px;
	box-shadow: 2px 2px 5px gray; 
}
.right{
	text-align: right;
}
.left{
	text-align: left;
}
hr {
  border: 0;
  display: block;
  background-color: gray;
  height: 2px;
}
.container{
	width: 80%;
}

.tabledetail:first-child{
	width: 20px;
}
</style>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script>
$(document).ready(function(){
	var idcat = document.getElementById("idcat").innerText;
	var tabcats = document.getElementsByClassName("tabcat");
	var tablinks = document.getElementsByClassName("tablinks");
	
	$('a.tablinks:nth-child(3)').addClass("active");
	$('.tabcat-container tr:first-child a').addClass("active");
	/*for (i = 0; i < tabcats.length; i++) {
	    if(tabcats[i].id == idcat){
	    	$('.tabcat-container tr:nth-child('+(i+1)+') a').addClass("active");
	    }
	}*/
})

function on() {
	  document.getElementById("overlay").style.visibility = "visible";
}

function off() {
	  document.getElementById("overlay").style.visibility = "hidden";
}

function ondetail(orderId) {
	var roworder = document.getElementById("roworder")
	var childrow = roworder.lastElementChild;
	document.getElementById("overlaydetail").style.visibility = "visible";
	while (childrow) { 
		roworder.removeChild(childrow); 
		childrow = roworder.lastElementChild; 
    }
	$.ajax({
	      url:"http://localhost:7070/userajax?id="+orderId,
	    })
	      .done(function( data ) {
	    	  $.each( data, function(key,val) {
		    		document.getElementById("overlaytableTD1").innerHTML = '#' + val.id;
		    		document.getElementById("overlaytableTD2").innerHTML = val.username;
		    		document.getElementById("overlaytableTD5").innerHTML = val.total;
		    		document.getElementById("overlaytableTD6").innerHTML = val.address;
	    		  });
	      });
  	$.ajax({
  	      url:"http://localhost:7070/testajax?id="+orderId,
  	    })
  	      .done(function( data ) {
  	    	  $.each( data, function(key,val) {
	  	    		  	var row = document.createElement("TR");
	  	    		 	var rowtotal = document.getElementById("rowtotal");
		  	    		//rowtotal.parentNode.insertBefore(row, rowtotal);
		  	    		roworder.appendChild(row);
		  	    		var c1 = row.insertCell(0);
		  	    		var c2 = row.insertCell(1);
		  	    		var c3 = row.insertCell(2);
	  	    			c1.innerHTML = val.name;
	  	    			c2.innerHTML = val.num;
	  	    			c3.innerHTML = val.cost;
  	    		  });
  	      });
}

function offdetail() {
	document.getElementById("overlaydetail").style.visibility = "hidden";
}
</script>
</head>
<body>

<!-- overlay -->
	<div class="center" id="overlaydetail">
		<div class="checked center">
			<div class="overlayheader center">รายละเอียดเพิ่มเติม </div>
			<table id="table" class="tabledetail" style="width: 80%;">
				<tr>
					<td>รหัส order</td>
					<td id="overlaytableTD1" colspan="2"></td>
				</tr>
				<tr>
					<td>ชื่อผู้ซื้อ </td>
					<td id="overlaytableTD2" colspan="2"></td>
				</tr>
				<tr>
					<td>รายการ </td>
					<td>จำนวน</td>
					<td>ราคา (ต่อชิ้น)</td>
				</tr>
				<tbody id="roworder"></tbody>
				<tr id="rowtotal">
					<td colspan="2">ยอดรวม </td>
					<td id="overlaytableTD5"></td>
				</tr>
				<tr>
					<td>ที่อยู่</td>
					<td id="overlaytableTD6" colspan="2"></td>
				</tr>
			</table>
		</div>
		<div class="overlaybg" onclick="off()"></div>
	</div>

<!-- Main Page -->
<div class="tabheadersecond">
	<a href="/createPDF" target="_blank">ปริ๊นชื่อ-ที่อยู่ผู้ซื้อทั้งหมด</a>
</div>
<div th:replace="Sfirstpage :: navhead"></div>
<div th:replace="Sfirstpage :: tabseller"></div>

<div style="width: 100%;">
<table class="tabcat-container">
	<tr class="center">
		<td>
			<a class="tabcat" id="idcat">
				ขนส่ง
			</a>
		</td>
	</tr>
</table>
<div style="width: 85%; float: right;" class="overdetail">
	<details th:each="day : ${daylist}">
		<summary th:text="${day.getMixname()}" th:value="${day.getMixname()}"></summary>
		<table class="maintable">
		<tr class="tableheader">
			<th style="height:30pt; width: 10%" > รหัสสั่งซื้อ </th>
			<th style="height:30pt; width: 20%"> ชื่อผู้ซื้อ </th>
			<th style="height:30pt; width: 50%">  รายการ </th>
			<th style="height:30pt; width: 20%">เพิ่ม Track </th>
		</tr>
		<tr th:each="userorder: ${userorders}" th:if="${userorder.getPayTime().toLocalDate().isEqual(day.getLocaldate())}">
				<td th:text="${'#'+ userorder.getIdOrder()}" id="valueTD1"></td>
				<td th:text="${userorder.getUserprofile().getName()}" id="valueTD2"></td>
				<td style="position: relative;">
					<ul>
						<li th:each="orderlist: ${orderlists}" th:if="${orderlist.getIdOrder()==userorder.getIdOrder()}"> 
							<span th:text="${orderlist.getProductdetail().getNameProduct()}"></span>
							<span th:text="${' '+orderlist.getSize().toUpperCase()}" th:if="${orderlist.getSize()!=null}"></span>
							<span th:text="${'  x'+ orderlist.getNumber()}"></span>
			  			</li>
					</ul>
					<a th:href="@{'/trantocancel/' + ${userorder.getIdOrder()}}" id="tocancel"
					th:data-confirm-delete="|ต้องการยกเลิกรายการ #${userorder.getIdOrder()}?|"
					onclick="if(!confirm(this.getAttribute('data-confirm-delete'))) return false">ยกเลิกรายการ </a>
					<a id="detaildata" th:attr="onclick=|ondetail('${userorder.getIdOrder()}')|">รายละเอียด </a>
				</td>
			<td style="text-align: center;">
				<form action="#" th:action="@{'/trantocomplete/' + ${userorder.getIdOrder()}}" method="post">
					<input style="width: 100pt;" type="text" name="numtrack" id="numtrack">
					<input type="submit" value="ยืนยัน"
					th:data-confirm-submit="|ยืนยันเลข track ของออเดอร์ #${userorder.getIdOrder()}?|"
					onclick="if (!confirm(this.getAttribute('data-confirm-submit'))) return false">
				</form>
			</td>
		</tr>
		</table>
	</details>
</div>
</div>
</body>
</html>