<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/CSS/Sfirstpage.css}">
<link rel="stylesheet" th:href="@{/CSS/buyerside.css}">

</head>
<body class="overlaypage">
	<div class="addresstable">
	
		<div th:if="${count<3}">
		<form action="#" th:action="@{/saveaddress}" method="post">
			<textarea  rows="3" cols="50" name="newaddress" placeholder="ที่อยู่" required></textarea>
			<input class="btnsubmit"
				type="submit"
				value="เพิ่มที่อยู่"
				name="button"
				style="margin-right: 0;">
		</form>
		<red style="font-size: 12px; font-style: italic;">หมายเหตุ : สามารถเพิ่มได้มากที่สุด 3 ที่อยู่</red>
		</div>
	
		<useraddress>
			<p align="center">ที่อยู่ทั้งหมดของผู้ใช้</p>
			<div th:each="address: ${addresses}">
				<div th:text="${address.getAddress()}"></div>
				<div style="float: right;"><a th:href="@{'/deleteaddress/'+${address.getIdAddress()}}">ลบ</a></div>
			</div>
		</useraddress>
	</div>
</body>
</html>