<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:if="${count<3}">
		<form action="#" th:action="@{/saveaddress}" method="post">
			<textarea name="newaddress" placeholder="ที่อยู่" required></textarea>
			<input style="float: right;" type="submit" value="Submit" name="button">
		</form>
	</div>
	
	<table>
	<caption>ที่อยู่ทั้งหมดของผู้ใช้งาน</caption>
		<tr th:each="address: ${addresses}" th:if="${address.getEnable()==1}">
			<td th:text="${address.getAddress()}"></td>
			<td><a th:href="@{'/deleteaddress/'+${address.getIdAddress()}}">ลบที่อยู่</a></td>
		</tr>
	</table>
	<p>หมายเหตุ : สามารถเพิ่มได้มากที่สุด3ที่อยู่</p>
</body>
</html>